<p>The "1964 Corvallis Flood" features 59 oblique photographs flown by Western Ways, Inc. on December 23, 1964. These images were taken when the Willamette River stood at 23' and document the extensive flooding in the Corvallis area.</p>

<p><%= link_to (image_tag "sets/#{params[:set]}/main.jpg", :alt => @set.title), '/sets/corvallis-flood?q=&search_field=all_fields' %></p>

<p>The original images from this collection can be found at the Oregon State University <a href="http://scarc.library.oregonstate.edu">Special Collections &amp; Archives Research Center</a> in the <a href="http://scarc.library.oregonstate.edu/coll/gallagher/index.html">John H. Gallagher, Sr., Collection (MSS Gallagher)</a>.</p>
