<ul id="pages" class="sidenav">

<li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>

<li><a href="<%= "http://www.dailyemerald.com/" %>">Oregon Daily Emerald Website</a></li>
</ul>