<ul id="pages" class="sidenav">
<li><a href="<%= "http://sportshistory.uoregon.edu/" %>">Leadership and Legacy Online Exhibit</a></li>

<li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
