<p><%= link_to (image_tag "sets/#{params[:set]}/osu-scarc.jpg", :alt => "OSU Special Collections &amp; Archives Research Center"), "/sets/#{params[:set]}?q=&search_field=all_fields" %></p>

<p>This collection is an online repository for all Oregon Digital items that have been digitized out of the Oregon State University Libraries <a href="http://scarc.library.oregonstate.edu/index.html">Special Collections &amp; Archives Research Center</a> (SCARC).</p>

<p>Home to Oregon State University's rare and unique materials, SCARC builds distinctive and unique collections in four signature areas: natural resources, the history of science, university history, and Oregon's multicultural communities. These collections encompass manuscripts, archives, rare books, oral histories, photographs, ephemera, audio/visual materials, electronic and born digital records.</p>

<p>SCARC has created a number of digital exhibits that are not contained within Oregon DigitalFor access to these materials, including the department's very rich collection of digitized content related to the life and work of <a href="http://scarc.library.oregonstate.edu/digitalresources/pauling/index.html">Linus Pauling</a>, please see the <a href="http://scarc.library.oregonstate.edu/digital-resources.html">SCARC Digital Resources page</a>.</p>
