<<<<<<< HEAD

=======
>>>>>>> Update index.html.erb
    <!-- Description -->
    <div class="left-image span4">

      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH003_N919.jpg", :alt => "Seven students from the Faun Creek School" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Seven students from the Faun Creek School", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
      
    </div>
    
    <p>Roy C. Andrews was a school teacher and administrator in Michigan, Texas, Arkansas, Washington and Oregon. He was a chemistry instructor at the University of Oregon from 1935 until his retirement in 1950. Andrews is noted for his photographs of one-room schoolhouses in southern Lane County, 1911-1913.</p>

    <p>The collection was donated by Andrews' sisters, Martha Belknap and Dorothy Brown, in March 1955.</p>
      
    <p>Contextual information available through the <a href="http://nwda.orbiscascade.org/ark:/80444/xv11976">Guide to the Roy C. Andrews Papers</a>.</p>
