
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/maic2.jpg", :alt => "Dwelling: double wall, interior hearth, large stone on east" + ', ' + @set.title), '#' %>
              <figcaption> <%= link_to "Dwelling: double wall, interior hearth", '#' %> </figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/BLBL_00002_KH.jpg", :alt => "Balbal in the form of a deer stone" + ', ' + @set.title), '#' %>
              <figcaption> <%= link_to "Balbal in the form of a deer stone", '#' %> </figcaption>
            </figure>
          </li>
        </ul>      
        <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
        <!-- /Optional -->
      </div>
    </div>

    <p>The image collection presents approximately 1,500 images supporting the <a href="http://mongolianaltai.uoregon.edu">Archaeology and Landscape in the Altai Mountains of Mongolia</a> website.</p>

    <p>The information presented on the <a href="http://img.uoregon.edu/mongolian/">Archaeology and Landscape in the Altai Mountains of Mongolia</a> website is the result of eighteen field seasons in the Altai Mountains of Russia and Mongolia. The extensive materials we have been able to gather and document represent the first broad inventory of surface archaeology in northwestern Mongolia. </p>

    <h3>Acknowledgements</h3>

    <p>This collection has been supported by the <a href="http://www.uoregon.edu/">University of Oregon</a> and by a generous Research Materials Grant from the <a href="http://www.neh.gov/">National Endowment for the Humanities</a>. Any views, findings, conclusions or recommendations expressed in this website do not necessarily reflect those of the National Endowment for the Humanities<em>.</em></p>

    <p>For more information about the Mongolian Altai Inventory, please send your inquiries to the Project Directors:<br />
      Esther Jacobson-Tepfer, Maude Kerns Professor Emeritus, Department of Art History, University of Oregon <a href="mailto:ejacobs@uoregon.edu">ejacobs@uoregon.edu </a><br />
      James E. Meacham, Director, InfoGraphics Lab, Department of Geography, University of Oregon <a href="mailto:jmeacham@uoregon.edu">jmeacham@uoregon.edu</a></p>
