<ul id="pages" class="sidenav">
  <!--li><a href="<!--%= "/sets/#{params[:set]}/page/about" %>">About</a></li-->
  <!--li><a href="<!--%= "/sets/#{params[:set]}/page/bio" %>">Major Moorhouse Biography</a></li-->
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
