  <h1>About</h1>

  <span class="description">

    <h3>Background</h3>
    
    <span class="pull-right"><%= link_to (image_tag "sets/#{params[:set]}/1996_morning_windows.jpg", :alt => "Morning Windows"), '#' %></span>
    
    <p>When an artist applies for a Percent for Art award, the Oregon Arts Commission (OAC) requires that (s)he submit slides, 8 x 10 black and white prints or 35mm negatives of their artwork, along with textual documentation describing the materials used in creating the work. In addition, some artists choose to submit illustrative proposals or project mockups. Many applicants also provide an artist statement as well as an exhibition list or resume. These materials are then reviewed for artist merit and suitability to the facility. Since 1975, the OAC has kept project notebooks containing slides, prints, and other documentation of all works purchased or commissioned for state construction projects that have qualified for Percent for Art funds. </p>
    
    <p>The <strong>Percent for Art Digital Collection</strong> is comprised of selected materials from these projects. In an effort to enhance the visibility of these works, broaden their accessibility</a>, and preserve archival materials related to the history of the Program, the Oregon Arts Commission is collaborating with the University of Oregon Libraries to create the <strong>Percent for Art Statewide Digital Collection and Database</strong> — an integrated resource of images and supplemental documentation of Oregon's rich heritage of public art. </p>

    <span class="pull-right"> <%= link_to (image_tag "sets/#{params[:set]}/1991_salem_pub-ser-bldg_10_b01.jpg", :alt => "Cityscape 3"), '#' %> </span>
    
    <h3>Artwork Images</h3>
    
    <p>The collection contains digital surrogates of the artists’ artwork from color and black and white 35mm slides, photographs and negatives. Work types range from paintings, photographs, sculpture, glass, textiles and ceramics to integrated pieces such as installations, architectural details and paving or mosaic treatments. Artwork is selected for its ability to respond to the site’s function and to complement or contrast with the architecture and/or landscape. The work also must be enduring and thought provoking, as well as fiscally responsible and appropriate for the space. </p>

    <span class="pull-right"> <%= link_to (image_tag "sets/#{params[:set]}/1996_corvallis_osu_union_01d_a01.jpg", :alt => "1996 Wolf artist statement"), '#' %> </span>
    
    <h3>Textual Documents</h3>
    
    <p>Textual documents offer an inside glimpse of artists’ thoughts, intentions, techniques and motivations, real-time to the artwork creation. All documents have been scanned and undergone optical character recognition (OCR) software extraction to make text fully searchable. Items include resumes, artist statements, exhibition lists, biographies as well as &quot;Call to Artists&quot; solicitations and artwork floor plan indexes.</p>

    <p align="left">This project is supported in part by the Institute of Museum and Library Services through the Library Services and Technology Act, and is administered by the Oregon State Library. </p>
    
    <p>
    <%= link_to (image_tag "sets/#{params[:set]}/IMLS_Logo_2c.jpg", :alt => "Institute of Museum and Library Services"), 'http://www.imls.gov' %></p>

    <p align="center"><strong>Copyright Information </strong></p>
    
    <p align="left">Copyright is retained by the artist or author. All rights reserved. <a href="http://www.europeana.eu/rights/rr-f/">Free Access - No Re-use</a>.</p>
    
    <p align="left"> Items are available in this collection through the Oregon Arts Commission for publicity of the State's <em>One Percent for Art in Public Buildings Program</em>.</p>

  </span>
