  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH349_023.jpg", :alt => "Two men behind a gate at a rodeo" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Two men behind a gate at a rodeo", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Grayson Layne Mathews (1948-2007) photographed the American West, creating a signature series of rodeo images from 1971-72 through funding from an NEA fellowship. Following a successful career in freelance photography and university instructor in California, South Carolina and Virginia, he returned home to Klamath Falls, Oregon and documented natural and human transformation of the Klamath Basin landscape. The collection includes darkroom and digital prints.</p>

    <h3>Acknowledgements</h3>

    <p>Grayson Layne Mathews, who was born in Eugene, Oregon, passed away February 2, 2007 at the age of 58. In his memory, his mother, Audrey, and sisters, Wendy and Ciry, and brother, Baron, have donated his archives to Special Collections.</p>
