
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH263_04-06.jpg", :alt => "Two women visit inside the Alpine Tavern" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Two women visit inside the Alpine Tavern", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>James Cloutier is a native Oregonian artist and photographer who began his study of art at the University of Oregon in 1958 and went on to earn an MFA. His drawings and photographs document the history of culture in Oregon, often with humourous twists, such as can be found in his illustrated map of Eugene, Oregon incorporating more than 300 local businesses with cartoon imagery. The images in the University of Oregon Library&rsquo;s collection feature the people of the small town of Alpine, Oregon from his 1977 book.</p>
