<ul id="pages" class="sidenav">
  <li><a href="<%= "/sets/#{params[:set]}/page/covers" %>">Enter the Collection</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/page/hayseed-orange-beaver" %>">Introduction: “Hayseed-Orange-Beaver, 1894-2014”</a></li>
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
