<ul id="pages" class="sidenav">
  <li><a href="<%= "/sets/#{params[:set]}/page/hayseed-orange-beaver" %>">HAYSEED – ORANGE – BEAVER: 1894 to 2014</a></li>
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
