<div class="row-fluid">
	<div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:h128nd90t">
		<img src="http://oregondigital.org/thumbnails/t/0/oregondigital-h128nd90t.jpg" class="img-polaroid"/>
		<br/>The Hayseed 1894</a>
	</div>
	<div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3t945q968">
		<img src="http://oregondigital.org/thumbnails/8/6/oregondigital-3t945q968.jpg" class="img-polaroid"/>
		<br/>Barometer Souvenir Edition, 1900</a>
	</div>
	<div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:bn999696f">
		<img src="http://oregondigital.org/thumbnails/f/6/oregondigital-bn999696f.jpg" class="img-polaroid"/>
		<br/>Barometer Souvenir Edition, 1905</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:x633f107f">
		<img src="http://oregondigital.org/thumbnails/f/7/oregondigital-x633f107f.jpg" class="img-polaroid"/>
		<br/>The Orange 1908</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3484zg94r">
		<img src="http://oregondigital.org/thumbnails/r/4/oregondigital-3484zg94r.jpg" class="img-polaroid"/>
		<br/>The Orange 1909</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:v405s954z">
		<img src="http://oregondigital.org/thumbnails/z/4/oregondigital-v405s954z.jpg" class="img-polaroid"/>
		<br/>The Orange 1910</a>
	</div>

  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:zs25x888w">
		<img src="http://oregondigital.org/thumbnails/w/8/oregondigital-zs25x888w.jpg" class="img-polaroid"/>
		<br/>The Orange 1911</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:qj72p7495">
		<img src="http://oregondigital.org/thumbnails/5/9/oregondigital-qj72p7495.jpg" class="img-polaroid"/>
		<br/>The Orange 1912</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:2n49t2156">
		<img src="http://oregondigital.org/thumbnails/6/5/oregondigital-2n49t2156.jpg" class="img-polaroid"/>
		<br/>The Orange 1913</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:dj52w540s">
		<img src="http://oregondigital.org/thumbnails/s/0/oregondigital-dj52w540s.jpg" class="img-polaroid"/>
		<br/>The Orange 1914</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:6w924c226">
		<img src="http://oregondigital.org/thumbnails/6/2/oregondigital-6w924c226.jpg" class="img-polaroid"/>
		<br/>The Orange 1915</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:pk02c999j">
		<img src="http://oregondigital.org/thumbnails/j/9/oregondigital-pk02c999j.jpg" class="img-polaroid"/>
		<br/>The Orange 1916</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:7w62f844w">
		<img src="http://oregondigital.org/thumbnails/w/4/oregondigital-7w62f844w.jpg" class="img-polaroid"/>
		<br/>The Beaver 1917</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5q47rn93q">
		<img src="http://oregondigital.org/thumbnails/q/3/oregondigital-5q47rn93q.jpg" class="img-polaroid"/>
		<br/>The Beaver 1918</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9w0323217">
		<img src="http://oregondigital.org/thumbnails/7/1/oregondigital-9w0323217.jpg" class="img-polaroid"/>
		<br/>The Beaver 1919</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:xd07gt046">
		<img src="http://oregondigital.org/thumbnails/6/4/oregondigital-xd07gt046.jpg" class="img-polaroid"/>
		<br/>The Beaver 1920</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:7d278t39s">
		<img src="http://oregondigital.org/thumbnails/s/9/oregondigital-7d278t39s.jpg" class="img-polaroid"/>
		<br/>The Beaver 1921</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3x816m87j">
		<img src="http://oregondigital.org/thumbnails/j/7/oregondigital-3x816m87j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1922</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5t34sj58c">
		<img src="http://oregondigital.org/thumbnails/c/8/oregondigital-5t34sj58c.jpg" class="img-polaroid"/>
		<br/>The Beaver 1923</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:tq57nr47g">
		<img src="http://oregondigital.org/thumbnails/g/7/oregondigital-tq57nr47g.jpg" class="img-polaroid"/>
		<br/>The Beaver 1924</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:h128nd88s">
		<img src="http://oregondigital.org/thumbnails/s/8/oregondigital-h128nd88s.jpg" class="img-polaroid"/>
		<br/>The Beaver 1925</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:pv63g065p">
		<img src="http://oregondigital.org/thumbnails/p/5/oregondigital-pv63g065p.jpg" class="img-polaroid"/>
		<br/>The Beaver 1926</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:pv63g0502">
		<img src="http://oregondigital.org/thumbnails/2/0/oregondigital-pv63g0502.jpg" class="img-polaroid"/>
		<br/>The Beaver 1926-1927</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:fx719n646">
		<img src="http://oregondigital.org/thumbnails/6/4/oregondigital-fx719n646.jpg" class="img-polaroid"/>
		<br/>The Beaver 1927</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:zs25x887m">
		<img src="http://oregondigital.org/thumbnails/m/7/oregondigital-zs25x887m.jpg" class="img-polaroid"/>
		<br/>The Beaver 1928</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ws859f848">
		<img src="http://oregondigital.org/thumbnails/8/4/oregondigital-ws859f848.jpg" class="img-polaroid"/>
		<br/>The Beaver 1929</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:sn009z05t">
		<img src="http://oregondigital.org/thumbnails/t/5/oregondigital-sn009z05t.jpg" class="img-polaroid"/>
		<br/>The Beaver 1930</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:gf06g2949">
		<img src="http://oregondigital.org/thumbnails/9/4/oregondigital-gf06g2949.jpg" class="img-polaroid"/>
		<br/>The Beaver 1931</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:0p096710b">
		<img src="http://oregondigital.org/thumbnails/b/0/oregondigital-0p096710b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1932</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3n203z51d">
		<img src="http://oregondigital.org/thumbnails/d/1/oregondigital-3n203z51d.jpg" class="img-polaroid"/>
		<br/>The Beaver 1933</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:h989r3467">
		<img src="http://oregondigital.org/thumbnails/7/6/oregondigital-h989r3467.jpg" class="img-polaroid"/>
		<br/>The Beaver 1934</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:nz806009x">
		<img src="http://oregondigital.org/thumbnails/x/9/oregondigital-nz806009x.jpg" class="img-polaroid"/>
		<br/>The Beaver 1935</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:q811kj763">
		<img src="http://oregondigital.org/thumbnails/3/6/oregondigital-q811kj763.jpg" class="img-polaroid"/>
		<br/>The Beaver 1936</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9p2909727">
		<img src="http://oregondigital.org/thumbnails/7/2/oregondigital-9p2909727.jpg" class="img-polaroid"/>
		<br/>The Beaver 1937</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3t945r17t">
		<img src="http://oregondigital.org/thumbnails/t/7/oregondigital-3t945r17t.jpg" class="img-polaroid"/>
		<br/>The Beaver 1938</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:mk61rh241">
		<img src="http://oregondigital.org/thumbnails/1/4/oregondigital-mk61rh241.jpg" class="img-polaroid"/>
		<br/>The Beaver 1939</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9019s282h">
		<img src="http://oregondigital.org/thumbnails/h/2/oregondigital-9019s282h.jpg" class="img-polaroid"/>
		<br/>The Beaver 1940</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:f4752h156">
		<img src="http://oregondigital.org/thumbnails/6/5/oregondigital-f4752h156.jpg" class="img-polaroid"/>
		<br/>The Beaver 1941</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:f7623d013">
		<img src="http://oregondigital.org/thumbnails/3/1/oregondigital-f7623d013.jpg" class="img-polaroid"/>
		<br/>The Beaver 1942</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:79407x576">
		<img src="http://oregondigital.org/thumbnails/6/7/oregondigital-79407x576.jpg" class="img-polaroid"/>
		<br/>The Beaver 1943</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:zk51vh18n">
		<img src="http://oregondigital.org/thumbnails/n/8/oregondigital-zk51vh18n.jpg" class="img-polaroid"/>
		<br/>The Beaver 1944</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:12579s71x">
		<img src="http://oregondigital.org/thumbnails/x/1/oregondigital-12579s71x.jpg" class="img-polaroid"/>
		<br/>The Beaver 1945</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:cj82k767b">
		<img src="http://oregondigital.org/thumbnails/b/7/oregondigital-cj82k767b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1946</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:2z10wq89b">
		<img src="http://oregondigital.org/thumbnails/b/9/oregondigital-2z10wq89b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1947</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:0g354f54n">
		<img src="http://oregondigital.org/thumbnails/n/4/oregondigital-0g354f54n.jpg" class="img-polaroid"/>
		<br/>The Beaver 1948</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:xd07gt12w">
		<img src="http://oregondigital.org/thumbnails/w/2/oregondigital-xd07gt12w.jpg" class="img-polaroid"/>
		<br/>The Beaver 1949</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:bv73c0887">
		<img src="http://oregondigital.org/thumbnails/7/8/oregondigital-bv73c0887.jpg" class="img-polaroid"/>
		<br/>The Beaver 1950</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:8336h240k">
		<img src="http://oregondigital.org/thumbnails/k/0/oregondigital-8336h240k.jpg" class="img-polaroid"/>
		<br/>The Beaver 1951</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:pz50gw440">
		<img src="http://oregondigital.org/thumbnails/0/4/oregondigital-pz50gw440.jpg" class="img-polaroid"/>
		<br/>The Beaver 1952</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:th83kz55d">
		<img src="http://oregondigital.org/thumbnails/d/5/oregondigital-th83kz55d.jpg" class="img-polaroid"/>
		<br/>The Beaver 1953</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:b2773v93v">
		<img src="http://oregondigital.org/thumbnails/v/3/oregondigital-b2773v93v.jpg" class="img-polaroid"/>
		<br/>The Beaver 1954</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:br86b3791">
		<img src="http://oregondigital.org/thumbnails/1/9/oregondigital-br86b3791.jpg" class="img-polaroid"/>
		<br/>The Beaver 1955</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:0z708w682">
		<img src="http://oregondigital.org/thumbnails/2/8/oregondigital-0z708w682.jpg" class="img-polaroid"/>
		<br/>The Beaver 1956</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ht24wj74h">
		<img src="http://oregondigital.org/thumbnails/h/4/oregondigital-ht24wj74h.jpg" class="img-polaroid"/>
		<br/>The Beaver 1957</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:37720c93v">
		<img src="http://oregondigital.org/thumbnails/v/3/oregondigital-37720c93v.jpg" class="img-polaroid"/>
		<br/>The Beaver 1958</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:bn9996955">
		<img src="http://oregondigital.org/thumbnails/5/5/oregondigital-bn9996955.jpg" class="img-polaroid"/>
		<br/>The Beaver 1959</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:s4655g89j">
		<img src="http://oregondigital.org/thumbnails/j/9/oregondigital-s4655g89j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1960</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:h128nd892">
		<img src="http://oregondigital.org/thumbnails/2/9/oregondigital-h128nd892.jpg" class="img-polaroid"/>
		<br/>The Beaver 1961</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3n203z52p">
		<img src="http://oregondigital.org/thumbnails/p/2/oregondigital-3n203z52p.jpg" class="img-polaroid"/>
		<br/>The Beaver 1962</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:k35694528">
		<img src="http://oregondigital.org/thumbnails/8/2/oregondigital-k35694528.jpg" class="img-polaroid"/>
		<br/>The Beaver 1963</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5d86p049j">
		<img src="http://oregondigital.org/thumbnails/j/9/oregondigital-5d86p049j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1964</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:f7623c823">
		<img src="http://oregondigital.org/thumbnails/3/2/oregondigital-f7623c823.jpg" class="img-polaroid"/>
		<br/>The Beaver 1965</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:dz010q19j">
		<img src="http://oregondigital.org/thumbnails/j/9/oregondigital-dz010q19j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1966</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5q47rn940">
		<img src="http://oregondigital.org/thumbnails/0/4/oregondigital-5q47rn940.jpg" class="img-polaroid"/>
		<br/>The Beaver 1967</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:2514nk95d">
		<img src="http://oregondigital.org/thumbnails/d/5/oregondigital-2514nk95d.jpg" class="img-polaroid"/>
		<br/>The Beaver 1968</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ng451h70p">
		<img src="http://oregondigital.org/thumbnails/p/0/oregondigital-ng451h70p.jpg" class="img-polaroid"/>
		<br/>The Beaver 1969</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:rb68xb881">
		<img src="http://oregondigital.org/thumbnails/1/8/oregondigital-rb68xb881.jpg" class="img-polaroid"/>
		<br/>The Beaver 1970</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3j333247r">
		<img src="http://oregondigital.org/thumbnails/r/7/oregondigital-3j333247r.jpg" class="img-polaroid"/>
		<br/>The Beaver 1971</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:4t64gn39h">
		<img src="http://oregondigital.org/thumbnails/h/9/oregondigital-4t64gn39h.jpg" class="img-polaroid"/>
		<br/>The Beaver 1972</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9880vr23v">
		<img src="http://oregondigital.org/thumbnails/v/3/oregondigital-9880vr23v.jpg" class="img-polaroid"/>
		<br/>The Beaver 1973</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5712m673w">
		<img src="http://oregondigital.org/thumbnails/w/3/oregondigital-5712m673w.jpg" class="img-polaroid"/>
		<br/>The Beaver 1974</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:x920fx113">
		<img src="http://oregondigital.org/thumbnails/3/1/oregondigital-x920fx113.jpg" class="img-polaroid"/>
		<br/>The Beaver 1975</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5712m676q">
		<img src="http://oregondigital.org/thumbnails/q/6/oregondigital-5712m676q.jpg" class="img-polaroid"/>
		<br/>The Beaver 1976</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ks65hc48h">
		<img src="http://oregondigital.org/thumbnails/h/8/oregondigital-ks65hc48h.jpg" class="img-polaroid"/>
		<br/>The Beaver 1977</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:vd66w0157">
		<img src="http://oregondigital.org/thumbnails/7/5/oregondigital-vd66w0157.jpg" class="img-polaroid"/>
		<br/>The Beaver 1978</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:8623hz06b">
		<img src="http://oregondigital.org/thumbnails/b/6/oregondigital-8623hz06b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1979</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:q237hs196">
		<img src="http://oregondigital.org/thumbnails/6/9/oregondigital-q237hs196.jpg" class="img-polaroid"/>
		<br/>The Beaver 1980</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:tb09j590q">
		<img src="http://oregondigital.org/thumbnails/q/0/oregondigital-tb09j590q.jpg" class="img-polaroid"/>
		<br/>The Beaver 1981</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:vx021f588">
		<img src="http://oregondigital.org/thumbnails/8/8/oregondigital-vx021f588.jpg" class="img-polaroid"/>
		<br/>The Beaver 1982</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5712m6745">
		<img src="http://oregondigital.org/thumbnails/5/4/oregondigital-5712m6745.jpg" class="img-polaroid"/>
		<br/>The Beaver 1983</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:k643b183h">
		<img src="http://oregondigital.org/thumbnails/h/3/oregondigital-k643b183h.jpg" class="img-polaroid"/>
		<br/>The Beaver 1984</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:w37637203">
		<img src="http://oregondigital.org/thumbnails/3/0/oregondigital-w37637203.jpg" class="img-polaroid"/>
		<br/>The Beaver 1985</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:hd76s082b">
		<img src="http://oregondigital.org/thumbnails/b/2/oregondigital-hd76s082b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1986</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9g54xh91j">
		<img src="http://oregondigital.org/thumbnails/j/1/oregondigital-9g54xh91j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1987</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3j333251b">
		<img src="http://oregondigital.org/thumbnails/b/1/oregondigital-3j333251b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1988</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:t148fh31r">
		<img src="http://oregondigital.org/thumbnails/r/1/oregondigital-t148fh31r.jpg" class="img-polaroid"/>
		<br/>The Beaver 1989</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:3j3332481">
		<img src="http://oregondigital.org/thumbnails/1/8/oregondigital-3j3332481.jpg" class="img-polaroid"/>
		<br/>The Beaver 1990</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:n296wz31t">
		<img src="http://oregondigital.org/thumbnails/t/1/oregondigital-n296wz31t.jpg" class="img-polaroid"/>
		<br/>The Beaver 1991</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:qb98mf68w">
		<img src="http://oregondigital.org/thumbnails/w/8/oregondigital-qb98mf68w.jpg" class="img-polaroid"/>
		<br/>The Beaver 1992</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:dz010q209">
		<img src="http://oregondigital.org/thumbnails/9/0/oregondigital-dz010q209.jpg" class="img-polaroid"/>
		<br/>The Beaver 1993</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:st74cr162">
		<img src="http://oregondigital.org/thumbnails/2/6/oregondigital-st74cr162.jpg" class="img-polaroid"/>
		<br/>The Beaver 1994</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:rv042t76p">
		<img src="http://oregondigital.org/thumbnails/p/6/oregondigital-rv042t76p.jpg" class="img-polaroid"/>
		<br/>The Beaver 1995</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:w3763719b">
		<img src="http://oregondigital.org/thumbnails/b/9/oregondigital-w3763719b.jpg" class="img-polaroid"/>
		<br/>The Beaver 1996</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:pk02cb45f">
		<img src="http://oregondigital.org/thumbnails/f/5/oregondigital-pk02cb45f.jpg" class="img-polaroid"/>
		<br/>The Beaver 1997</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ws859f85j">
		<img src="http://oregondigital.org/thumbnails/j/5/oregondigital-ws859f85j.jpg" class="img-polaroid"/>
		<br/>The Beaver 1998</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:12579s726">
		<img src="http://oregondigital.org/thumbnails/6/2/oregondigital-12579s726.jpg" class="img-polaroid"/>
		<br/>The Beaver 1999</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:0p096712w">
		<img src="http://oregondigital.org/thumbnails/w/2/oregondigital-0p096712w.jpg" class="img-polaroid"/>
		<br/>The Beaver 2000</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:ft848q651">
		<img src="http://oregondigital.org/thumbnails/1/5/oregondigital-ft848q651.jpg" class="img-polaroid"/>
		<br/>The Beaver 2001</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:r494vk22c">
		<img src="http://oregondigital.org/thumbnails/c/2/oregondigital-r494vk22c.jpg" class="img-polaroid"/>
		<br/>The Beaver 2002</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:kk91fk555">
		<img src="http://oregondigital.org/thumbnails/5/5/oregondigital-kk91fk555.jpg" class="img-polaroid"/>
		<br/>The Beaver 2003</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:jw827b70d">
		<img src="http://oregondigital.org/thumbnails/d/0/oregondigital-jw827b70d.jpg" class="img-polaroid"/>
		<br/>The Beaver 2004</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:76537159p">
		<img src="http://oregondigital.org/thumbnails/p/9/oregondigital-76537159p.jpg" class="img-polaroid"/>
		<br/>The Beaver 2005</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:9593tv875">
		<img src="http://oregondigital.org/thumbnails/5/7/oregondigital-9593tv875.jpg" class="img-polaroid"/>
		<br/>The Beaver 2006</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:zp38wc84j">
		<img src="http://oregondigital.org/thumbnails/j/4/oregondigital-zp38wc84j.jpg" class="img-polaroid"/>
		<br/>The Beaver 2007</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:zg64tk941">
		<img src="http://oregondigital.org/thumbnails/1/4/oregondigital-zg64tk941.jpg" class="img-polaroid"/>
		<br/>The Beaver 2008</a>
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:6395w783q">
		<img src="http://oregondigital.org/thumbnails/q/3/oregondigital-6395w783q.jpg" class="img-polaroid"/>
		<br/>The Beaver 2009</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:fb494910k">
		<img src="http://oregondigital.org/thumbnails/k/0/oregondigital-fb494910k.jpg" class="img-polaroid"/>
		<br/>The Beaver 2010</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:5999n4134">
		<img src="http://oregondigital.org/thumbnails/4/3/oregondigital-5999n4134.jpg" class="img-polaroid"/>
		<br/>The Beaver 2011</a>
	</div>
  <div class="span2">
		<a href="http://oregondigital.org/sets/osu-yearbooks/oregondigital:js956g494">
		<img src="http://oregondigital.org/thumbnails/4/9/oregondigital-js956g494.jpg" class="img-polaroid"/>
		<br/>The Beaver 2012</a>
	</div>
  <div class="span2">
		<!--<a href="">-->
		<!--<img src="" class="img-polaroid"/>-->Coming Soon
		<br/>The Beaver 2013<!--</a>-->
	</div>
</div>

<div class="row-fluid" style="padding-top: 1.5em;">
  <div class="span2">
		<!--<a href="">-->
		<!--<img src="" class="img-polaroid"/>-->Coming Soon
		<br/>The Beaver 2014<!--</a>-->
	</div>
</div>

