<div class="text-center">
<h3>HAYSEED – ORANGE – BEAVER: 1894 to 2014</h3>
<h3>Yearbooks of Oregon State – 120 years of memories</h3>
<p>Michael Dicianna</p>
</div>

<p>The idea of a college annual was still untried in state or denominational colleges in the early 1890s.  Oregon Agricultural College produced its first official Yearbook in 1894.  The <em>Hayseed</em>, was edited by seven members of the class of 1895, Austin T. Buxton, editor-in-chief; Arthur C. Lewis, business manager; Frank E. Edwards, Willard W. Smith, John F. Alien and Lewis W. Oren.</p>

<div class="text-center">
		<p><em>To every ‘Hayseed’ in the state,
		<br/>This little book we dedicate.”</em>
		<br/>1894 Hayseed dedication</p>
</div>

<p>Official funding for the publication was denied by the school administration, so these men took on the responsibility personally. In a 1925 OAC Alumnus article, the author describes their efforts “The Hayseed staff faced Inexperience and financial difficulties which seemed to increase their ardor.”  The first class book of OAC was sold for 50 cents and cloth bound books one dollar. Three pictures and a few comic sketches made by students constitute the art work. Only three pages were used for advertising. Class histories, literary compositions by students and faculty and an extensive satire section complete the contents of the annual.</p>

<p>The OAC Barometer staff produced a special edition of the school newspaper in June, 1900. This production had many of the components of the original <em>Hayseed</em>, but was not considered as an official school annual.</p>

<p>Aside from special souvenir editions of the OAC Barometer in June of 1900 and 1905, the yearbook idea was idle for thirteen years. The <em>Orange</em> of 1908 was published by the class of ‘07.  The format of the yearbook featured sections for student organizations, each class, academics and of course, sports activities.  Art inserts were used to divide the annual into sections.</p>

<p>Increased interest in athletics was indicated in the <em>Orange</em> athletic section. Football, basketball, baseball, and track were the only sports sanctioned by OAC during this period and were featured.  Records of all contests won or lost were covered but any victories over the University of Oregon were given special attention and space. With the 1911 <em>Orange</em>, an athletic section for women's sports was included and continued in the annual since that time.</p>

<p>Throughout the yearbooks published from 1908 to 1917 stories and pictures of Mount Chintimini, now commonly called Mary’s peak, were frequent.  Senior Class excursions to Newport Oregon at the end of each year were also featured.</p>

<p>The <em>Beaver</em> was chosen as the new name of the OAC yearbook by the class of 1918.  No record of the reason for changing the name of the annual was recorded in it that year. The yearbook has been officially titled the <em>Beaver</em> since that time with no record of any movement to change it.  The 1918 edition was larger than the <em>Orange</em> with an increase in pages as well as binding. The 1919 and 1920 <em>Beaver</em> Yearbooks were dedicated to OAC Alumni and Faculty serving in World War One. Photographs of servicemen in uniform accompanied a detailed listing of students serving “Over There”. A special gold star memorial section was dedicated to men who were lost during the Great War.</p>

<p>One feature of the OAC College annual that consistently appeared from 1894 through 1933 was a section for “Satire” or “College humor”.  Sometimes combined with the advertising section, the humor section had many names; in 1919, “the Disturber” and in 1920 “The Bolsheviki”.  Satire of current events, campus life and students and faculty included cartoons (1911-1913 by Vance "Pinto" Colvig, AKA Bozo the Clown), humorous photographs and creative writing entries.</p>

<p>From its inception, the college yearbook was a junior class publication, in 1925, an amendment added to the student body constitution provided for publication of the year-book by the associated students. The editor was be selected by entire student body vote in the spring.  This transition period ended up with a 1926 <em>Beaver</em> published by the Junior Class, a 1926-1927 edition published by the Associated Students of OAC, and a separate 1927 edition published by the 1926 Junior Class.  From 1927 onward, the <em>Beaver</em> Yearbook was published by an ASOSC editorial committee, eventually under the umbrella of the Memorial Union administration.</p>

<p>Beginning with the 1928 <em>Beaver</em>, the basic format and production falls into a steady rhythm for the next eight decades.  Editorial policy and theme of each yearbook reflects the society and culture of their period.  During WWII, the military and homefront are indicated in both illustrations and activities featured.  The first woman editor of the <em>Beaver</em> Yearbook was Lois Williams in 1939.  During the height of the war, in 1943, the majority of the Yearbook staff, including the editor was female.</p>

<p>As the society evolved into the 1950s and 1960s, the look and feel of the yearbooks changed in unison.  By the early 1970s, college yearbooks were beginning to fall out of favor.  The <em>Beaver</em> soldiered on.  In 1977, the editorial staff decided to create chapters of the <em>Beaver</em> portrayed as popular magazines.  The “men’s” section was modeled after <em>Playboy</em> and the “women’s” after <em>Playgirl</em>.  In the issue, page 317 had to be physically removed from all 6000 copies.  Karen O'Connor, a sophomore in Home Economics protested the use of her photograph in the Playboy section.  The image was used without her permission.</p>

<p>As the student population of an institution grows, the logistics of producing a yearbook is confounded.  The yearbooks of the 1990s through its recent demise in 2014 did not include images of every student, it was impossible.  Sales of yearbooks declined over the last twenty years to a point where by 2012 fewer than 200 copies were sold.  The <em>Beaver</em> Yearbook ends its 120-year existence with the 2014 issue.  The new publication will be a three issue per year “Beaver Magazine”, published by OSU Student Media.</p>

<p class="text-center"><strong><a href="<%= "/sets/#{params[:set]}/page/covers" %>">Enter the Collection</a></strong></p>
