

<p>The Oregon State University Yearbooks includes all the yearbooks published by the students of Oregon State University, beginning with the 1894 <em>Hayseed</em>.  Souvenir editions of the <em>Barometer</em> were published in June 1900 and June 1905.  Continuous publication of the yearbook began in 1907 with the <em>1908 Orange</em>. Ten years later, the yearbook title was changed to the <em>Beaver</em> and publication of annual volumes continued through 2014.  In addition to portrait photographs of students, the yearbooks include photographs and information about student organizations, athletics, academics, and events and activities during a given academic year.</p>

<p>For a more detailed history of the yearbooks, read <a href="<%= "/sets/#{params[:set]}/page/hayseed-orange-beaver" %>">HAYSEED – ORANGE – BEAVER: 1894 to 2014</a></p>
