
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH036_4207.jpg", :alt => "Child and woman standing next to a pony" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Woman, Child and Pony", '#' %></figcaption>            
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Major Lee Moorhouse of Pendleton, Oregon was an Indian Agent for the Umatilla Indian Reservation and a photographer. From 1888 to 1916 he produced over 9,000 images which document urban, rural, and Native American life in the Columbia Basin, and particularly Umatilla County, Oregon. So extensive and revealing are Moorhouse's images that his collection is one of the preeminent social history collections for Oregon. Special Collections &amp; University Archives of the University of Oregon Libraries has a collection of 7000 images by Major Moorhouse.</p>
