<div class="row">
<div class="span4">

<%= link_to (image_tag "sets/#{params[:set]}/satellite_middleeast.jpg", :alt => "The Middle East Water Collection"), "/sets/#{params[:set]}?q=&search_field=all_fields" %>

<table style="margin-top: 20px; ">
  <tr>
    <td><%= link_to (image_tag "sets/#{params[:set]}/logo_iww.jpg", :alt => "Institute for Water and Watersheds"), "http://water.oregonstate.edu/" %></td>
	<td><%= link_to (image_tag "sets/#{params[:set]}/logo_ceoas.jpg", :alt => "College of Earth, Ocean, and Atmospheric Sciences"), "http://ceoas.oregonstate.edu/" %></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to (image_tag "sets/#{params[:set]}/logo_tbw.jpg", :alt => "The Program in Water Conflict Management and Transformation (PWCMT)", :style => "margin-top: 20px;"), "http://www.transboundarywaters.orst.edu/" %></td>
  </tr>
</table>

</div>

<div class="span4">

<p>The Middle East Water Collection provides access to over 5,000 public items on political, socio-economic, demographic, and legal issues of water in the Middle East. Materials include data, books, journal and newspaper articles, and documents published in the Middle East, Europe, and North America originating from a variety of publishers and national and multinational agencies and organizations.</p>

<p>Materials in the public domain are available in full text from this website. More materials from the original collection will be added online as copyright permissions are granted. This website may be used as a search interface for the complete collection of Middle East water materials housed on the 3rd floor of the OSU Valley Library.</p>

<p>Users may search in the box above or browse the collection using the facets menu on the left.</p>

<h3>Middle East Water Research</h3>

<p>We hope that students and researchers will use this online access to this collection to gain a better perspective on how water issues thread through and across many disciplines of thought - irrespective of borders or boundaries, cultures or historical differences. The collection reflects this representing the combined efforts from a mixture of professionals with extensive and varied experience in the Middle East. Its use is intended to provide a greater understanding of the multi-disciplinary nature of water and its interactions with politics, development, social issues, culture and religion. The collection was founded and initiated by Prof. Naff with his generous contribution of the collection of the Middle East Water Information Network to OSU in 2007. Access to this vast collection inspired two subsequent contributions, by Prof. John Kolars in 2008, and David Laylin, who contributed papers of his late father John Laylin in 2012.</p>

</div>
</div>
