<div id="<%= params[:set] %>">

<h3>Donor: John F. Kolars</h3>

<p>John F. Kolars, professor of Near Eastern studies and geography, retired from active faculty status at the University of Michigan on May 31, 1994, after a distinguished career as a scholar, teacher, and social scientist.</p>

<p>He came to the University of Michigan in 1964 as an assistant professor of geography; he was promoted to associate professor in 1966 and professor in 1971. In 1981, he received the additional appointment of professor of Near Eastern studies. From 1984-85, and again in 1989, he served as distinguished visiting professor at the U.S. Air Force Academy. Since 1977, he has regularly lectured on the topic, "The Middle East as an Ecosystem" for the U.S. Department of State Foreign Service Institute.</p>

<p>Professor Kolars is a consummate geographer who has combined scholarship with practical applications. His early works are widely referenced in the cultural geography literature for both content and methodological example. For the last two decades, his scholarship has focused on water issues in the Middle East, especially the Euphrates-Tigris and Litani river basins. Professor Kolars has offered a neutral voice in this volatile region, allowing him to act as a go-between on sensitive issues that divide the hostile parties. He is effective in this turbulent arena because his geographical approach combines deep knowledge and insight about the area's diverse cultures with an understanding of the physical and environmental processes that characterize the region.</p>

<p>In 2008, Prof. Kolars generously contributed original papers and books collected over his years as one of the premiere researchers on the geography of the Middle East, especially as related to the international waters of the Tigris and Euphrates river basins.</p>

<p><b><a href="http://oregondigital.org/catalog/?utf8=%E2%9C%93&op=AND&all_fields=&title=&description=&date=&donor=kolars&f_inclusive%5Bdesc_metadata__set_label_sim%5D%5BThe+Middle+East+Water+Collection%24http%3A%2F%2Foregondigital.org%2Fresource%2Foregondigital%3Amiddle-east-water%5D=1&sort=score+desc&search_field=advanced&commit=Search">View the donations of John F. Kolars</a></b>.</p>

</div>
