<div id="<%= params[:set] %>">

<h3>Donor: John G. Laylin</h3>

<p>The donations of John G. Laylin include: journal and newspaper articles, books and other documents concerning water desalination, waters of the Euphrates and Tigris and Helmand rivers, water issues in Iraq and Jordan, political and population growth influences. The collection includes maps focused on water issues.</p>

<p>David Laylin, who contributed the collection, writes about his father:</p>

<blockquote>
  <p>From a Roman maxim, "Sic utere tuo ut alienum non laedes" (Use your own that you hurt not others), he was able - through scholarly articles and presentations at international conferences - to gain international acceptance of the principle that international rivers should be shared equitably. Based on this principle and with great cooperation from the World Bank, the Indus Waters Treaty of 1960 was signed between India and Pakistan. It still holds today, despite two wars fought in the meantime.</p>
  <p>Dad represented Iran in many cases, over a period of more than thirty years, starting with the Azerbaijan case against Russia, at the Security Council of the UN, in 1946. With respect to the Helmand River dispute, he was able to prove to everybody's satisfaction, that Iran had traditionally used a certain amount of the waters of the Helmand, amassing much data from extensive engineering studies. This led to the Treaty, which was signed in 1973, but not then ratified because of the ensuing political turmoil - first in Afghanistan and then also in Iran.</p>
</blockquote>

<p><b><a href="https://oregondigital.org/sets/middle-east-water?f%5Bdesc_metadata__donor_label_sim%5D%5B%5D=Laylin%2C+John+G.+%28John+Gallup%29%2C+1902-%24http%3A%2F%2Fid.loc.gov%2Fauthorities%2Fnames%2Fno2001009473">View the donations of John G. Laylin</a></b>.</p>

</div>
