<div id="<%= params[:set] %>">

<h3>Donor: Thomas Naff</h3>

<p>Thomas Naff is Professor Emeritus of Asian and Middle Eastern Studies and is also a Senior Research Fellow at the Institute for Environmental Studies (IES) at the University of Pennsylvania. After receiving advanced degrees at the School of Oriental and African Studies of the University of London and at the University of California at Berkeley, Prof. Naff taught at the American University at Cairo, where he was the co-founder of the Center for Arabic Studies Abroad (CASA). He then became the Director of the Middle East Center at the University of Pennsylvania, and later founder and director of Penn's Middle East Research Institute which later became the Middle East Water Information Network and finally, the IES Water Resources Database.</p>

<p>In his decades at the University of Pennsylvania, Prof. Naff has taught, published, and lectured on a wide range of Middle Eastern subjects, covering the period from the advent of Islam to the present day. He pioneered study of the interaction of water resources and political decision-making with his landmark book, Water in the Middle East, co-authored with Ruth Matson in 1984, in addition to dozens of other seminal articles on the topic.</p>

<p>The donations of Thomas Naff include: journal and newspaper articles, books and other documents concerning planned development in the Middle East.  Different perspectives are discussed including political and regional influences as well as agricultural development, dams, irrigation and natural influences.</p>

<p><b><a href="http://oregondigital.org/catalog/?utf8=%E2%9C%93&op=AND&all_fields=&title=&description=&date=&donor=naff&f_inclusive%5Bdesc_metadata__set_label_sim%5D%5BThe+Middle+East+Water+Collection%24http%3A%2F%2Foregondigital.org%2Fresource%2Foregondigital%3Amiddle-east-water%5D=1&sort=score+desc&search_field=advanced&commit=Search">View the donations of Thomas Naff</a></b>.</p>

</div>
