<p><%= link_to (image_tag "sets/#{params[:set]}/oregon-state-yank.png", :alt => "Oregon State Yank"), "/sets/#{params[:set]}?q=&search_field=all_fields" %></p>

<p>The <emph>Oregon State Yank</emph> was edited and published by Oregon State College alumnae, Elaine Kollins Sewell and Jane Steagall, to share news of service activities of alumni serving in World War II and provide campus news to alumni.  Most of the news in the publication was drawn from correspondence received by the editors from training camps in the U.S. and fighting fronts around the world.  Eight issues of the <emph>Yank</emph> were published from November 1943 through November 1945.</p>
