<p><%= link_to (image_tag "sets/#{params[:set]}/oregon-state-yank.png", :alt => "Oregon State Yank"), "/sets/#{params[:set]}?q=&search_field=all_fields" %></p>

<p>The <em>Oregon State Yank</em> was edited and published by Oregon State College alumnae, Elaine Kollins Sewell and Jane Steagall, to share news of service activities of alumni serving in World War II and provide campus news to alumni.  Most of the news in the publication was drawn from correspondence received by the editors from training camps in the U.S. and fighting fronts around the world.  Eight issues of the <em>Yank</em> were published from November 1943 through November 1945.</p>

<p>More information about the <em>Oregon State Yank</em> is available <a href="http://nwda.orbiscascade.org/ark:/80444/xv59695">in the guide to the archival collection</a>.</p>
