

  <!-- Description -->
  <div class="left-image span4">
  <%= link_to (image_tag "sets/#{params[:set]}/uo_vets.jpg", :alt => "UO Veterans Oral History Project Site" + ', ' + @set.title), 'http://uovetsoralhistory.uoregon.edu/' %>

  </div>
    <p>
    The UO Veterans Oral History Project was established in 2012 with the aim of documenting the military experiences of men and women associated with the University of Oregon and the wider Oregon community. The project understands military experience broadly to include not just combat but all aspects of military service.
    </p>
    <p>
The UO Veterans Oral History Project rests on interviews with both veterans and active duty service men and women. Interviews are conducted and transcribed by University of Oregon students enrolled in a class designed to support the project. The interviews are permanently housed in the archive at the University of Oregon Libraries.
</p>
<p>
View <a href="http://uovetsoralhistory.uoregon.edu/">UO Veterans Oral History Project</a>.
</p>
<h3>Acknowledgements</h3>
<p>
The UO Veterans Oral History Project has received vital funding from the Tom and Carol Williams Fund for Undergraduate Education as well as support from the Department of History, Kira Homo and James Fox at Special Collections, and Kirstin Hierholzer and her staff at the Center for Media and Educational Technologies. The project was founded and is coordinated by Alex Dracobly. Comments and inquiries may be sent to him at <a href="mailto:dracobly@uoregon.edu">dracobly@uoregon.edu</a>.
    </p>
