<ul id="pages" class="sidenav">
  <!--li><a href="<!--%= "/sets/#{params[:set]}/page/statement" %>">Dan Powell's Artist Statement</a></li-->
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
</ul>
