
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
      <ul class="slides crop">
        <li>
          <figure>
            <%= link_to (image_tag "sets/#{params[:set]}/ua9_box2_folder14_Page_02.jpg", :alt => "Correspondence, map/visual, pamphlets, report" + ', ' + @set.title), '#' %>
          <figcaption><%= link_to "Correspondence, map/visual, pamphlets, report", '#' %></figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= link_to (image_tag "sets/#{params[:set]}/ua9_box1_folder6_pg1.jpg", :alt => "Documentation of school policies, correspondence" + ', ' + @set.title), '#' %>
          <figcaption><%= link_to "Documentation of school policies, correspondence", '#' %></figcaption>
          </figure>
        </li>
      </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>
    
    <p>The National Japanese American Student Relocation Council was created by university administrators as a means of relocating Japanese American college students to other universities and colleges away from the West coast during World War II, and to prevent these students from being interned in government-run internment camps. At the University of Oregon, Karl Onthank, Dean of Personnel Administration, represented the University in relocating UO Japanese American students. The collection includes correspondence, newsletters, speeches, minutes of meetings, and ephemera.</p>
