  <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH0244_148.jpg", :alt => "Bonnie McCarroll is thrown off a bucking horse at the Pendleton Round Up" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Bonnie McCarroll is thrown off a bucking horse at the Pendleton Round Up", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Charles Wellington Furlong (1874-1967) was an explorer, writer and scientist who documented his adventures in publications and notebooks and well as in photographs. The Furlong photographs include copies of his artwork, ethnographical evidence, historical events and personalities, and remote corners of the world.</p>

    <p>The collection was donated to the University by Furlong in 1965.</p>
