<p><%= link_to (image_tag "sets/#{params[:set]}/mathematics.jpg", :alt => "Oregon State University College and Department Histories"), "/sets/#{params[:set]}?q=&search_field=all_fields" %></p>

<p>This set contains dozens of typescripts and booklets documenting the individual histories of a wide variety of colleges, schools, departments and programs at Oregon State University. The vast majority of these records were authored to mark two specific occasions: the OSU centennial in 1968 and the 125th anniversary of the founding of Corvallis in 1982. From Agricultural Chemistry to Zoology, the items held in this set provide useful insight into Oregon State's evolution, output and changing points of emphasis during the latter half of the twentieth century.</p>


