
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PH004_0187.jpg", :alt => "Two men pose next to textile machinery in Pendleton Woolen Mill" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Two men pose next to textile machinery in Pendleton Woolen Mill", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
      
    </div>
    
    <p>Walter S. Bowman (1865-1938) was a professional photographer who worked in Pendleton, Oregon, from the late 1880s to the mid 1930s. Bowman&rsquo;s photographs document daily life in Eastern Oregon, including special events such as the Pendleton Roundup.</p>

    <p>The Bowman collection was donated to the Library over a period of years spanning 1947-1953. The collection was donated through the efforts of Judge James H. Sturgis and Lee D. Drake of Pendleton, a newspaperman, county clerk, and collector of historic materials.</p>

    <p>Contextual information available through the <a href="http://nwda.orbiscascade.org/ark:/80444/xv78677">Guide to the Walter S. Bowman photographs 1880-1930</a>.</p>
