@charset "utf-8";

/* Sheet Music CSS */
.collection-sheetmusic {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 480px) {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-fixed-top {
    width: inherit;
    margin-left: inherit;
    margin-right: inherit;
  }
  .brand {
    background-image: url('http://oregondigital.org/digcol/images/digcoltitle.jpg');
    background-size: 250px auto;
    width: 250px;
    margin-top: 10px;
    margin-left: 10px;
    @media (max-width: 480px) {
      width: 105px;
      background-size: 105px;
      padding-bottom: 0px;
      margin-right: 0px;
      margin-left: 5px;
      margin-top: 15px;
      padding-top: 0px;
    }
  }
  @media (min-width: 1200px) {
    .brand {
      margin-left: 40px;
    }
  }
  #searchbar {
    text-align: center;
    .search-query-form {
      display: inline-block;
    }
  }
  #top-graphic img {
    width: 100%;
  }
  #main-container {
    margin-top: 10%;
  }
  .navbar-inner {
    background-color: #E9E6D6;
    background-image: none;

  }
  @media (min-width: 1050px) {
    min-width: 1050px;
    width: 60%;
    .navbar-fixed-top {
      min-width: 1050px !important;
    }
  }
}