<p><%= link_to (image_tag "sets/#{params[:set]}/1926-campus-map.jpg", :alt => "Historical Maps of Oregon State University"), "/sets/#{params[:set]}/oregondigital:df719p65p" %></p>

<p>The Historical Maps of Oregon State University digital collection provides online access to maps associated with the university – the Corvallis campus, locations of other OSU facilities around the state, and the university’s land grant lands. The maps date back to the late 19th century and are a rich primary resource for the history of the development of OSU’s Corvallis campus (actual and proposed) and it presence throughout Oregon.</p>

<p>The earliest map dates from 1894 and shows the extant buildings and utility lines. It was drawn by William Bloss, son of OAC president John M. Bloss. Other maps are associated with the 1909 Olmsted campus plan, the <a href="https://oregondigital.org/sets/osu-historical-images/oregondigital:df719p65p">1926</a> and 1945 A.D. Taylor campus plans, and the 1964 Demonte &amp; Wagner campus plan. A <a href="https://oregondigital.org/sets/osu-historical-images/oregondigital:df70cf85x">circa 1962 map</a> shows the locations of the university’s original land grant lands from 1870.</p>

<p>The maps in this collection are from the <a href="http://scarc.library.oregonstate.edu/findingaids/?p=collections/findingaid&amp;id=2035">Oregon State University Campus Maps</a> and Series 20, Campus, Farm, and Property Maps of the <a href="http://scarc.library.oregonstate.edu/findingaids/?p=collections/findingaid&amp;id=2521">Facilities Services Records (RG 193)</a>.</p>
