<ul id="pages" class="sidenav">
  <li><a href="<%= "/sets/#{params[:set]}/about" %>">About</a></li>
  <li><a href="<%= "/sets/#{params[:set]}/acknowledgements" %>">Publisher's Acknowledgements</a></li>
  <li><a href="<%= "/sets/#{params[:set]}" %>"><%= @set.title %> Home</a></li>
  <li><a href="http://oregonstate.edu/dept/botany/herbarium/">Oregon State University Herbarium</a></li>
  <li><a href="http://oregonstate.edu/dept/botany/herbarium/db.php">Oregon State University Herbarium Databases</a></li>
</ul>
