<h5>About the OSU Herbarium Type Specimens</h5>

<p>The specimens are classified according to biological nomenclature. Thus each unique name traces to an original description, published over the past 250 years. The earliest valid names trace to the seminal works of Linnaeus. The vast majority of names originated with the 19th century exploration of the American West. However, new species continue to be discovered and described today. Any research into the application of biological nomenclature requires an evaluation of the original description.</p>
<p>Our ultimate goal is to make available digitized original descriptions of all 4500 plant taxa (species, subspecies and varieties) in the Oregon flora. We envision that this project will serve as a model and catalyst for other major state and regional herbaria in the United States, ultimately leading to a networked resource that would serve local, regional, and international interests.</p>

<h5>Technical Information</h5>

<p>Digital capture of specimens, scanning of original descriptions, data migration and metadata processing was handled by the Oregon State University Libraries' Digital Production Unit. Metadata was compiled from type specimen label data from the Oregon State University (OSC), University of Oregon (ORE), and Morton E. Peck (WILLU) Herbaria. Future work may include the normalization and structuring of data for better search retrieval.</p>

<h5>Acknowledgements</h5>

<p>This site has been a collaboration between the Oregon State University Herbarium Library and the Oregon State University's Valley Library. We should like to acknowledge the following people for their substantive help in putting together this site: Terry Reese, Mike Boock, Ryan Wick, Philip Vue, Aaron Liston, May Chau, Diana Wageman and Katie Mitchell. Partial funding was provided by a National Science Foundation Research Experience for Undergraduates supplement to award BRC-0237459 and the Oregon State University Research Office.</p>
<p>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>

<h5>Publisher's Acknowledgements</h5>

<p>Special thanks goes to the many publishers and authors that graciously have granted permission allowing the OSU Herbarium and OSU Libraries to digitize and present the applicable type definitions next to their specimenIn acknowledgement, we have created a special page listing those publishers that have granted permission with links, when available, to their various websites/publications. <a href="<%= "/sets/#{params[:set]}/page/acknowledgements" %>">Publisher's Acknowledgements</a></p>
