<h5>Publisher's Acknowledgements</h5>

<p>Special thanks goes to the many publishers and authors that have graciously granted OSU Herbarium and OSU Libraries permission to digitize and present the applicable type definitions next to their specimens. In putting this project together, OSU Libraries spent a great deal of effort following the publication trail to discern who maintained copyright over a particular body of work. We have tried to the best of our ability to secure permission to digitize and post each type description, however, there are some gaps, places where copyright ownership has become mudded during the passage of time. So while we have made a good faith effort to identify and seek permission for publication -- we found that this simply was not possible in every case. Moreover, a small number of presumed rights holders have not yet been traced or have not responded to previous correspondence. <span style="color: red">***Please note, in nearly all cases, reproduction permission was granted solely for the limited materials requested for this project. For exact citations, please consult the image database.</span></p>

<p>We ask the copyright owners, heirs, or estate managers of any of the individuals, organizations, or publications which we were unable to contact to notify <a href="mailto:maura.valentino@oregonstate.edu">Maura Valentino</a> as soon as possible, so that we may seek permission from them to include items they control.</p>

<br/>

<h5>Publisher List</h5>
<em>Granted Consent</em>

<table>
	<tr>
    <th>Title</th>
	  <th>Publisher/Granted By</th>
	  <th>Special Notes</th>
	</tr>
	<tr>
	  <td>Aliso</td>
	  <td>Rancho Santa Ana Botanic Garden; Granted by V. Ashworth</td>
	  <td>Selected issues have been reproduced and displayed with permission of the Rancho Santa Ana Botanic Garden.</td>
	</tr>
	<tr>
	  <td>American Fern Journal</td>
	  <td>J. Hickey</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Am. J. Bot</td>
	  <td>Claire Hemingway</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Am. Midl. Naturalist</td>
	  <td>Willim E. Evans</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Ann. Missouri Bot. Card.</td>
	  <td>Missouri Botanical Garden; Amy Mcpherson</td>
	  <td>Missouri Botanical Garden: <a href="http://www.mobot.org">http://www.mobot.org</a></td>
	</tr>
	<tr>
	  <td>Bot Gaz.</td>
	  <td>Botanical Gazette; Perry Cartwright</td>
	  <td>Botanical Gazette: <a href="http://www.jstor.org/journals/00068071.html">http://www.jstor.org/journals/00068071.html</a></td>
	</tr>
	<tr>
	  <td>Brittonia</td>
		<td>New York Botanical Garden; Dr. Barbara M. Thiers</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Bull. S. Calif.Acad. Sci</td>
		<td>Dan Guthrie</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Bull. Torr. Bot Club.</td>
	  <td>Brian McCarthy</td>
	  <td>Usage granted for educational and research purpose only</td>
	</tr>
	<tr>
	  <td>Carnegie Inst. Wash. Publ</td>
	  <td>Tina McDowell</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Contr Univ. Mich. Herb</td>
	  <td>University of Michigan Herbarium; Christine Anderson</td>
	  <td> Selected issues have been reproduced and displayed with permission of the University of Michigan Herbarium.</td>
	</tr>
	<tr>
	  <td>Feddes Repert. Spec. Nov. Regni Veg.</td>
	  <td>Contacted</td>
	  <td>Waiting</td>
	</tr>
	<tr>
	  <td>Ill. Fl. Pac. St.</td>
	  <td>Unknown</td>
	  <td>Public domain, please use full citation</td>
	</tr>
	<tr>
	  <td>J. Wash. Acad. Sci</td>
	  <td>Vary Coates</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Madrono</td>
	  <td>California Botanical Society</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Mem. Amer. Acad. Arts</td>
	  <td>Phyllis Bendell</td>
	  <td>"The Linera-Leaved North Amrerican Species of Potamogeton, Section Axillares" Memoirs of the American Academy of Arts and Sciecnes, vol. XVII, Part 1 (1932) in OSU's online collection</td>
	</tr>
	<tr>
	  <td>Mem. New York Bot. Gard.</td>
	  <td>New York Botanical Garden; Dr. Barbara M. Thiers</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Minnesota Stud. Biol Sci</td>
	  <td>George Weiblen</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Minnesota Stud. Plant. Sci.</td>
	  <td>George Weiblen</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Novo</td>
	  <td>Diana Gunter</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Northern American Flora</td>
	  <td>New York Botanical Garden; Dr. Barbara M. Thiers</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Northwest Sci</td>
	  <td>Suzanne Schwab</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Preslia</td>
	  <td>Jan Kirschner</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Proc. Acad. Nat. Sci. Philadelphia</td>
	  <td>National Academy of Science, Philadelphia; Elieen Mathias</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Proc. Bio. Soc. Wash.</td>
	  <td>Richard Banks</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Pro. Calif. Acad. Sci.</td>
	  <td>Leviton Alan</td>
	  <td>Selected issues have been reproduced and displayed with permission of the California Academy of Sciences.</td>
	</tr>
	<tr>
	  <td>Res. Stud. St. Coll. Wash.</td>
	  <td>Marc. Lindsey</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Rhodora</td>
	  <td>Janet Sullivan</td>
	  <td>No copyright, name represents current contact.</td>
	</tr>
	<tr>
	  <td>Sida</td>
	  <td>Barney Lipscomb</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Syst. Bot.</td>
	  <td>Jun Wen</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Torreya</td>
	  <td>Brain McCarthy</td>
	  <td>Selected issues have been reproduced and displayed with permission for research purposes only.</td>
	</tr>
	<tr>
	  <td>Univ. Calif. Publ. Bot</td>
	  <td>Richard Moe</td>
	  <td>Only two pages granted.</td>
	</tr>
	<tr>
	  <td>Univ. Minn. Stud. Pl. Sci.</td>
	  <td>George Weiblen</td>
		<td>&#160;</td>
	</tr>
	<tr>
	  <td>Univ. Wash. Publ. Biol</td>
	  <td>Denise Clark</td>
		<td>&#160;</td>
	</tr>
</table>


<br />
<em>Rights holder hasn't been located</em>
<table>
	<tr>
		<th>Title</th>
		<th>Rights Holder</th>
		<th>Notes</th>
	</tr>
	<tr>
		<td>Canadian Field-Nat</td>
		<td>Unknown</td>
		<td>Waiting for citation confirmation</td>
	</tr>
	<tr>
		<td>Contr. Dudley Herb.</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Contr. U.S. Natl. Herb</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Crucif. Cont. N.A.</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Etud. Monog. Sous Genre Eugentiana</td>
		<td>Unknown</td>
		<td>No response</td>
	</tr>
	<tr>
		<td>Fl. S.E. Wash.</td>
		<td>Contacted</td>
		<td>Author  check, publisher can not locate</td>
	</tr>
	<tr>
		<td>Fritschiana</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Gen. Eriogonum</td>
		<td>Unknown</td>
		<td>Publisher probably out of business</td>
	</tr>
	<tr>
		<td>Gilberg List of North American Pteridophytes</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Jepson Man. Fl. Pl. Calif.</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Leaflet of Western Botany</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Man. Fl. Pl. Calif.</td>
		<td>Unknown</td>
		<td>No response</td>
	</tr>
	<tr>
		<td>Man. Higher Pl. Oreg </td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>N. Amer. Fl.</td>
		<td>Contacted</td>
		<td>Waiting</td>
	</tr>
	<tr>
		<td>Pflanzenreich IV</td>
		<td>Passed away</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Phytologia</td>
		<td>Unable to contact the author</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Pittonia</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Species Lupinorum</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>U. Color. Stud. Ser.</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>U. Wyo. Pub. Bot</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
	<tr>
		<td>Werdena</td>
		<td>Unknown</td>
		<td>&#160;</td>
	</tr>
</table>

	
<br />
<em>Consent not granted for public display</em>
<table>
	<tr>
		<th>Title</th>
		<th>Rights Holder</th>
    <th>Affected Citations</th>
  </tr>
</table>

