

  <h1>Acknowledgements</h1>

  <span class="description">

<p>Funding to  create this online catalogue was provided by the <a href="http://library.uoregon.edu">University of Oregon Libraries</a> and <a href="http://diversity.uoregon.edu/">Office  of Equity &amp; Inclusion</a>. </p>
         <p>This  online catalogue presents a work in progress, which we hope will be enriched with  future research while also enabling greater access and information about the  collections in the University of Oregon <a href="http://library.uoregon.edu/speccoll/">Special Collections and University  Archives</a>. Future installments  will provide expanded  information on collections. </p>
       <p>Significant  contributions to this project were provided by the staff and students in the UO  Libraries <a href="http://library.uoregon.edu/speccoll/">Special Collections and University Archives</a>, <a href="http://library.uoregon.edu/cmet/image_svcs/">Image Services Center</a>,  and <a href="http://digitalscholarship.uoregon.edu/">Digital Scholarship Center</a>. </p>
       <h3>Catalogue and Digital Collection  Project Team:</h3>
         <h4>Students</h4>
         <p><strong>Ada Ball</strong>, Junior, Anthropology, University  of Oregon, Confederated Tribes of Siletz Indians<br />
           <strong>Amber Ball</strong>, Freshman, University of Oregon,  Confederated Tribes of Siletz Indians<br />
           <strong>Michelle Dwor</strong>, Master’s Candidate, Curriculum  and Teaching, College of Education, University of Oregon<br />
           <strong>Chlesea Jennings</strong>, Senior, School of Journalism &amp; Communication, University of Oregon <br />
           <strong>Patrick Lozar</strong>, Master’s Candidate, History,  University of Oregon, Confederated Salish and Kootenai Tribes</p>
<h4>UO Libraries Staff</h4>
       <p><strong>Karen Estlund</strong>, Head, Digital Scholarship Center,  University of Oregon Libraries<br />
         <strong>Katie Moss</strong>, Metadata Technician, University  of Oregon Libraries<br />
         <strong>Lesli Larson</strong>, Image Services Coordinator,  University of Oregon Libraries<br />
       <strong>Linda Long</strong>, Manuscripts Librarian,  University of Oregon Libraries</p>
<h3>With  additional assistance from: </h3>
         <p><strong>Kevin Bourgault</strong>, PhD student,  Critical and Sociocultural Studies in Education, College of Education, University of Oregon <br />
           <strong>Stephanie  M. Wood</strong>, Master’s Candidate, Interdisciplinary Studies: Individualized  Program, Anthropology, Folklore and Arts Administration, University of Oregon,  Kalapuya, Rogue River, Chinook, The Confederated Tribes of Grand Ronde<br />
           <strong>CHiXapkaid Pavel</strong>, Professor of Native American Studies in Education,  College of Education, University of Oregon </p>

  </span>

