<h1>Curriculum Module</h1>
<span class="description">
<ul>
  <li><a href="http://oregondigital.org/digcol/tlegacies/modoc_module/index.html">A Critical Examination of the Modoc War</a></li>
</ul>
<h2>Digital Collections</h2>
<ul>
  <li><a href="http://oregondigital.org/digcol/mh/">Picturing the Cayuse, Walla Walla &amp; Umatilla Tribes</a><br />
    From 1888 to 1916 Major Lee Moorhouse produced over 9,000 images which document urban, rural, and Native American life in the Columbia Basin, and particularly Umatilla County, Oregon<em>.</em></li>
</ul>
<ul>
  <li><a href="http://oregonnews.uoregon.edu/">Historic Oregon Newspapers</a><br />
    Selections of historic Oregon newspapers digitized as part of the <a href="http://www.libweb.uoregon.edu/diglib/odnp/">Oregon Digital Newspaper Program</a>. This site provides access to titles from around the state from 1846-1923.</li>
</ul>
<ul>
  <li><a href="http://oregondigital.org/digcol/gh/">Historical Photographs </a><br />
    Selections from over 16 photograph collections from <a href="http://libweb.uoregon.edu/speccoll/">Special Collections &amp; University Archives</a> photograph collections ranging from the 19th century to current times.</li>
</ul>
<h2>Additional Resources in UO Libraries</h2>
<ul>
  <li><a href="http://libweb.uoregon.edu/govdocs/govinfo.html">Government Documents</a><br />
    The University of Oregon Knight Library is the primary location for government reports, planning documents, official correspondence, government reports, and other text resources relating to Oregon Tribes.
    <ul>
      <li><a href="http://oregondigital.org/digcol/tlegacies/fed_resources.php">Federal Documents pertaining to Indian Tribes</a></li>
      <li><a href="http://oregondigital.org/digcol/tlegacies/state_resources.php">State Documents and Other Materials pertaining to Oregon Territory Tribes</a></li>
    </ul>
  </li>
</ul>
<ul>
  <li><a href="http://libweb.uoregon.edu/map/index.html">Maps &amp; Aerial Photographs</a><br />
    In addition, the Map and Air Photos collections offers over 80 aerial photographs from State and Federal agencies for areas within the boundaries of all nine Oregon Tribes. Specific coverage varies, as do map dates and scales.</li>
</ul>
<ul>
  <li><a href="http://www.libweb.uoregon.edu/speccoll/books/orc.html">Oregon Collection</a>, Special Collections &amp; University Archives
    <ul>
      <li><a href="http://oregondigital.org/digcol/tlegacies/orColl_resources.php">Selected books from the Oregon Collection</a></li>
    </ul>
  </li>
</ul>
<ul>
  <li><a href="http://www.libweb.uoregon.edu/law/">Law Library</a> <br />
    <p>The John E. Jacqua Law Library offers a wide array of legal and planning resources specific to Oregon Tribes. Resources include compendiums of Congressional Legislation and Executive Orders, as well as other legal reference resources.</p>
    In addition, the Jacqua Law Library also includes a large selection of text materials on a panoply of Tribal-specific issues including: tribal civil rights, courts, constitutions, gaming, water rights, and the Self Governance and Education Assistance Act. Historic tribal documents include the allotment era, tribal schooling, termination era, Indian Reorganization Act, and a historical guidebook.
    <ul>
      <li><a href="http://libweb.uoregon.edu/law/libraryguides.html">John E. Jaqua Law Library Research Guides</a></li>
    </ul>
  </li>
</ul>
<h2>External Websites</h2>
<ul>
  <li>National Park Service: <a href="http://www.lc-triballegacy.org/">Lewis &amp; Clark Tribal Legacy Project</a></li>
  <li>Digital Cultures: Restoring our Names, Tulalip Learning Journey, Suquamish Virtual Longhouse, Tulalip Heritage, Yaamash —<a href="http://digitalcultures.com/">http://digitalcultures.com/</a></li>
  <li>Utah American Indian Digital Archive — <a href="http://utahindians.org/">http://utahindians.org/</a></li>
  <li>First Nations Collection, Southern Oregon University (SWORP and more) — <a href="http://soda.sou.edu/tribal.html">http://soda.sou.edu/tribal.html</a></li>
  <li>Edward S. Curtis' North American Indian Photographic Images - <a href="http://memory.loc.gov/ammem/award98/ienhtml/curthome.html">http://memory.loc.gov/ammem/award98/ienhtml/curthome.html</a></li>
  <li>American Indians of the Pacific Northwest -<a href="http://memory.loc.gov/ammem/collections/pacific/"> http://memory.loc.gov/ammem/collections/pacific/</a></li>
  <li>Mountains-Plains Native Americans -<a href="http://cdm16013.contentdm.oclc.org/cdm/landingpage/collection/p15018coll41"> http://cdm16013.contentdm.oclc.org/cdm/landingpage/collection/p15018coll41</a></li>
  <li>Documents Relating to Indian Affairs - <a href="http://uwdc.library.wisc.edu/collections/History/IndianTreatiesMicro">http://uwdc.library.wisc.edu/collections/History/IndianTreatiesMicro</a></li>
  <li>Alaska Native History and Culture Pathway - <a href="http://vilda.alaska.edu/cdm/pathway">http://vilda.alaska.edu/cdm/pathway</a></li>
  <li>Indian Affairs: Laws and Treaties -<a href="http://digital.library.okstate.edu/kappler/index.htm"> http://digital.library.okstate.edu/kappler/index.htm</a></li>
</ul>
</span>
