<p><a href="<%= '/sets/' + params[:set] + '?utf8=%E2%9C%93&collection=braceros&id=braceros&search_field=all_fields&q='%>">Browse Items</a>

<p><a href="<%= '/sets/' + params[:set] + '/related' %>">Related Sources</a></p>

<p><a href="<%= '/sets/' + params[:set] + '/techinfo' %>">Technical Information</a></p>

<p><a href="<%= '/sets/' + params[:set] %>">Braceros Home</a></p>
