<ul id="pages">
<li><a href="<%= '/sets/' + params[:set] + '?utf8=%E2%9C%93&collection=braceros&id=braceros&search_field=all_fields&q='%>">Browse Items</a></li>

<li><a href="<%= '/sets/' + params[:set] + '/related' %>">Related Sources</a></li>

<li><a href="<%= '/sets/' + params[:set] + '/techinfo' %>">Technical Information</a></li>

<li><a href="<%= '/sets/' + params[:set] %>">Braceros Home</a></li>
</ul>
