<div id="<%= params[:collection] %>">

<p class="banner-image"> <%= image_tag "collections/#{params[:collection]}/banner.gif", :alt => @coll_title %> </p>

<p><strong>An archival photograph collection of the Braceros that worked in the agricultural fields and orchards of Oregon, 1942-1947.</strong></p>

<h5>The Braceros Program</h5>
<p>In the early 1940s, the number of farm workers in the United States noticeably decreased because of armed forces manpower requirements and competition with higher paying jobs in the defense industries. At the same time, farmers were asked to increase production as part of the successful prosecution of World War II. In 1942 the United States government signed a labor agreement with Mexico that allowed its male citizens to work as farm laborers throughout the U.S. It was known as the Braceros Program. In Oregon more than 15,000 Mexican men worked on farms in all parts of the state from 1942 through 1947.</p>


<h5>The Collection</h5>
<p>The 102 photographs in this collection document the activities of Oregon's Bracero workers - their cultivation and harvesting work in the fields and orchards as well as the farm labor camps in which they lived. Most of the photographs were taken by Oregon State College Extension staff members as part of a larger effort to document the various groups that contributed to alleviate the state's severe shortage of farm labor. Extension photographers included John Burtner, Fred Shideler, Robert Fowler, and Harry Whitten. Works by commercial photographers Bus Howdyshell of Pendleton and Maurice Hodge of Portland are also included in the collection.</p>

<p>The Braceros in Oregon Photograph Collection is an artificial collection; the images were drawn from several University Archives collections. They include the <a href="http://scarc.library.oregonstate.edu/coll/p020/">Extension Bulletin Illustrations Photograph Collection (P 20)</a>, the <a href="http://scarc.library.oregonstate.edu/coll/p120/">Extension and Experiment Station Communications Photograph Collection (P 120)</a>, the <a href="http://scarc.library.oregonstate.edu/coll/p062/">Extension Service Photograph Collection (P 62)</a>, the <a href="http://scarc.library.oregonstate.edu/coll/p040/">Agriculture Photograph Collection (P 40)</a>, and <a href="http://scarc.library.oregonstate.edu/coll/harriets/">Harriet's Collection</a>.</p>

</div>
