<p><a href="<%= '/collections/' + params[:collection] + '?utf8=%E2%9C%93&collection=braceros&id=braceros&search_field=all_fields&q='%>">Browse Items</a>

<p><a href="<%= '/collections/' + params[:collection] + '/related' %>">Related Sources</a></p>

<p><a href="<%= '/collections/' + params[:collection] + '/techinfo' %>">Technical Information</a></p>

<p><a href="<%= '/collections/' + params[:collection] %>">Braceros Home</a></p>
