<div id="<%= params[:set] %>">

<h3>Additional Braceros Resources in the OSU Libraries Collections</h3>

<h4>Table of Contents</h4>
<a href="#resources">Additional Braceros Resources in the University Archives</a><br/>
<a href="#bibliography">Bibliography of Braceros Materials in OSU Libraries</a>

<a name="resources"></a>
<h4>Additional Braceros Resources in the University Archives</h4>

<p>In addition to the original Bracero photographs, the University Archives contains other sources of information pertaining to Bracero workers in Oregon.</p>

<p><strong>Extension Service Records (RG 111)</strong> - The county extension office annual reports for those counties in which Braceros worked during WWII often include a section on how many workers were utilized in the county and the types of work done. Some of the reports also include narrative on problems that the workers encountered. See <a href="http://scarc.library.oregonstate.edu/coll/rg111/">http://scarc.library.oregonstate.edu/coll/rg111</a> for the complete archival finding aid to the Extension Service Records. The reports are on microfilm only.</p>

<p>The Farm Labor Emergency project records within the Extension Service Records contain numerous brief references to Bracero workers and how they were utilized in Oregon. The project records also include a U.S. Department of Agriculture publication, <em>A History of the Emergency Farm Labor Supply Program, 1943-1947</em>, by Wayne D. Rasmussen [USDA Agriculture Monograph no. 13], 1951. This work contains a chapter on Bracero workers from a national perspective.</p>

<p><strong><em>Fighters on the Farm Front: A Story of the 1943-46 Oregon Emergency Farm Labor Program</em></strong>, Oregon State College Extension Circular 492, Jan. 1947. This publication provides a detailed overview of the various groups that helped to cultivate and harvest Oregon's crops during WWII, including the Bracero workers. Includes good statistical information on a statewide basis. This publication is also available in the Valley Library at S537 .O7 A54 and <a href="http://ir.library.oregonstate.edu/dspace/handle/1957/3686">online</a>.</p>

<p><strong>Alderman Family Farms Films</strong> - film footage shot on one of Oregon's largest row crop farms in the 1940s and 1950s, located near Dayton, Oregon. Includes footage of Bracero workers who helped on the farm in the mid 1940s. A VHS copy of the films is available for viewing. See <a href="http://scarc.library.oregonstate.edu/coll/p214/">http://scarc.library.oregonstate.edu/coll/p214</a> for a guide to the collection.</p>

<p><strong>Farm Labor Memorabilia Collection file</strong> - Includes Erasmo Gamboa's October 1982 <em>Pacific Northwest Quarterly</em> article, "Mexican Labor in the Pacific Northwest, 1943-1947." His article used several of the Bracero photographs from the OSU Archives. This file also includes &quot;Sugestiones To Apple Pickers,&quot; a Spanish language brochure published by Oregon's Extension Service in August 1943. <a href="http://ir.library.oregonstate.edu/jspui/bitstream/1957/12230/1/sug_app_pic.pdf">See this brochure online</a>.</p>

<hr> <a name="bibliography"></a>

<h4>Bibliography of Braceros Materials in the Valley Library</h4>

<p>The Valley Library's holdings include many journal articles and monographs that pertain to Mexican and Mexican-American workers, including the Braceros, in the United States.</p>


<h5>ARTICLES</h5>

<p>Vargas, Zaragosa. "IN THE YEARS OF DARKNESS AND TORMENT: THE EARLY MEXICAN AMERICAN STRUGGLE FOR CIVIL RIGHTS, 1945-1963."
<br/>New Mexico Historical Review 2001 76(4): 382-413.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901348">F791 .N38</a></strong></p>

<p>Garcia, Alephonso. "BEET SEASONS IN WYOMING: MEXICAN-AMERICAN FAMILY LIFE ON A SUGAR BEET FARM NEAR WHEATLAND DURING WORLD WAR II."
<br/>Annals of Wyoming 2001 73(2): 14-17
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1905732">F756 .A67</a></strong></p>

<p>Cohen, Deborah. "CAUGHT IN THE MIDDLE: THE MEXICAN STATE'S RELATIONSHIP WITH THE UNITED STATES AND ITS OWN CITIZEN-WORKERS, 1942-1954."
<br/>Journal of American Ethnic History 2001 20(3): 110-132.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1619893">E184.A1 J67</a></strong></p>

<p>Grove, Wayne A. "COTTON ON THE FEDERAL ROAD TO ECONOMIC DEVELOPMENT: TECHNOLOGY AND LABOR POLICIES FOLLOWING WORLD WAR II."
<br/>Agricultural History 2000 74(2): 272-292.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901000">HD1761 .A5</a></strong></p>

<p>Durand, Jorge; Massey, Douglas S.; and Charvet, Fernando. "THE CHANGING GEOGRAPHY OF MEXICAN IMMIGRATION TO THE UNITED STATES: 1910-1996."
<br/>Social Science Quarterly 2000 81(1): 1-15.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1904372">H1 .S68</a></strong></p>

<p>Ferrat, Carlos Rico; Thelen, David, interviewer. "MEXICO, THE LATIN NORTH AMERICAN NATION: A CONVERSATION WITH CARLOS RICO FERRAT."
<br/>Journal of American History 1999 86(2): 467-480.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1900854">F351 .M5</a></strong></p>

<p>McGarvie, Mark. "A COMPARATIVE CASE STUDY OF IMMIGRANT CONTRACT LABOR ON THE MILWAUKEE ROAD."
<br/>Railroad History 1998 (179): 69-87.</p>

<p>Grove, Wayne A. "THE MEXICAN FARM LABOR PROGRAM, 1942-1964: GOVERNMENT-ADMINISTERED LABOR MARKET INSURANCE FOR FARMERS."
<br/>Agricultural History 1996 70(2): 302-320.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901000">HD1761 .A5</a></strong></p>

<p>Zatz, Marjorie S. "USING AND ABUSING MEXICAN FARMWORKERS: THE BRACERO PROGRAM AND THE INS."
<br/>Law &amp; Society Review 1993 27(4): 851-863.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1126365">K12 .A91</a></strong></p>

<p>Valdes, Dennis N. "LEGAL STATUS AND THE STRUGGLES OF FARMWORKERS IN WEST TEXAS AND NEW MEXICO, 1942-1993."
<br/>Latin American Perspectives 1995 22(1): 117-137.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1126932">F1401 .L335</a></strong></p>

<p>Martin, Philip L. "FOREIGN DIRECT INVESTMENT AND MIGRATION: THE CASE OF MEXICAN MAQUILADORAS."
<br/>International Migration [Switzerland] 1992 30(3-4): 399-422.</p>

<p>Driscoll, Barbara A.; Salgado Andrade, Eva, transl. "EL PROGRAMA DE BRACEROS: UNA PODEROSA ESTRATEGIA BILATERAL DE MIGRACION?"
<br/>Secuencia [Mexico] 1988 (12): 133-150.</p>

<p>Hurt, R. Douglas. "TOMATO HARVESTERS: FROM WEST TO EAST."
<br/>Journal of the West 1991 30(2): 88-98.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1909408">F591 .J6</a></strong></p>

<p>Hansen, L. O. "THE POLITICAL AND SOCIOECONOMIC CONTEXT OF LEGAL AND ILLEGAL MEXICAN MIGRATION TO THE UNITED STATES (1942-1984)."
<br/>International Migration [Switzerland] 1988 26(1): 95-107.</p>

<p>Gamboa, Erasmo. "BRACEROS IN THE PACIFIC NORTHWEST: LABORERS ON THE DOMESTIC FRONT, 1942-1947."
<br/>Pacific Historical Review 1987 56(3): 378-398.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1899886">F851 .P3</a></strong></p>

<p>Wells, Merle. "TWENTIETH-CENTURY MIGRANT FARM LABOR."
<br/>Journal of the West 1986 25(2): 65-72.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1909408">F591 .J6</a></strong></p>

<p>Papademetriou, Demetrios G.; Martin, Philip L.; and Miller, Mark J. "U.S. IMMIGRATION POLICY: THE GUESTWORKER OPTION REVISITED."
<br/>International Migration [Netherlands] 1983 21(1): 39-55.</p>

<p>Gamboa, Erasmo. "MEXICAN MIGRATION INTO WASHINGTON STATE: A HISTORY, 1940-1950."
<br/>Pacific Northwest Quarterly 1981 72(3): 121-131.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1909873">F886 .P2</a></strong></p>

<p>Gamio, Manuel; Galarza, Ernesto; and Castaneda, Carlos E. "TRES ESTUDIOS ESPECIALIZADOS ACERCA DE LOS BRACEROS."
<br/>Boletin del Archivo General de la Nacion [Mexico] 1980 4(4): 38-52.</p>

<p>Hernandez Rodriguez, Rogelio. "EL PROBLEMA DE LOS BRACEROS EN EL PERIODO DE 1942 A 1946."
<br/>Boletin del Archivo General de la Nacion [Mexico] 1980 4(4): 3-4.</p>

<p>Jones, Lamar B. and Rice, G. Randolph. "AGRICULTURAL LABOR IN THE SOUTHWEST: THE POST BRACERO YEARS."
<br/>Social Science Quarterly 1980 61(1): 86-94.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1904372">H1 .S68</a></strong></p>

<p>Williams, Edward J. "OIL IN MEXICAN-U.S. RELATIONS: ANALYSIS AND BARGAINING SCENARIO."
<br/>Orbis 1978 22(1): 201-216.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901420">D839 .O7</a></strong></p>

<p>Levenstein, Harvey. "SINDICALISMO NORTEAMERICANO, BRACEROS Y "ESPALDAS MOJADAS."
<br/>Historia Mexicana [Mexico] 1978 28(2): 153-184.</p>

<p>Kirstein, Peter N. "AGRIBUSINESS, LABOR, AND THE WETBACKS: TRUMAN'S COMMISSION ON MIGRATORY LABOR."
<br/>Historian 1978 40(4): 650-667.</p>

<p>Slatta, Richard W. "CHICANOS IN THE PACIFIC NORTHWEST: AN HISTORICAL OVERVIEW OF OREGON'S CHICANOS."
<br/>Aztlan 1975 6(3): 327-340.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1910596">E184 .M5 A8</a></strong></p>

<p>Stoddard, Ellwyn R. "A CONCEPTUAL ANALYSIS OF THE "ALIEN INVASION": INSTITUTIONALIZED SUPPORT OF ILLEGAL MEXICAN ALIENS IN THE U.S."
<br/>International Migration Review 1976 10(2): 157-189.</p>

<p>Grubbs, Donald H. "PRELUDE TO CHAVEZ: THE NATIONAL FARM LABOR UNION IN CALIFORNIA."
<br/>Labor History 1975 16(4): 453-469.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901023">HD4802 .L25</a></strong></p>

<p>Kiser, George C. "MEXICAN AMERICAN LABOR BEFORE WORLD WAR II."
<br/>Journal of Mexican American History 1972 2(2): 122-142.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1126348">E184.M5 J6</a></strong></p>

<p>Jones, Lamar B. "FARM LABOR: SHORTAGE OR SURPLUS?"
<br/>Southwestern Social Science Quarterly 1967 47(4): 401-412.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1904633">H1 .S68</a></strong></p>

<p>Schirteer, Martin E. "THE MIGRANT WORKER."
<br/>American Benedictine Review 1970 21(1): 56-78.</p>

<p>Miller, Charlene. "LOS GOLONDRINOS."
<br/>Kroeber Anthropological Society Papers 1964 30: 51-71.</p>

<p>Gilmore, N. Ray; Gilmore, Gladys W. "THE BRACERO IN CALIFORNIA."
<br/>Pacific Historical Review 1963 32(3): 265-282.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1899886">F851 .P3</a></strong></p>

<p>Scruggs, Otey M. "TEXAS AND THE BRACERO PROGRAM, 1942-1947."
<br/>Pacific Historical Review 1963 32(3): 251-264.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1899886">F851 .P3</a></strong></p>

<p>Scruggs, Otey M. "THE BRACERO PROGRAM UNDER THE FARM SECURITY ADMINISTRATION, 1942-1943."
<br/>Labor History 1962 3(2): 149-168.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1901023">HD4802 .L25</a></strong></p>


<h5>BOOKS</h5>

<p>Kirstein, Peter N. "Anglo Over Bracero: a History of the Mexican Worker in the United States from Roosevelt to Nixon."
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1441908">HD8081.M6 K52</a></strong></p>

<p>Servín, Manuel P. "The Mexican-Americans: an Awakening Minority."
<br/>Beverly Hills, Glencoe Press,1970.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1410264">E184.M5 S4</a></strong></p>

<p>Craig, Richard B. "The Bracero Program; Interest Groups and Foreign Policy."
<br/>Austin, University of Texas Press,1971.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1021868">HD1525 .C7</a></strong></p>

<p>Galarza, Ernesto. "Merchants of Labor: the Mexican Bracero Story. An account of the Managed Migration of Mexican Farm Workers in California 1942-1960.
<br/>Raleigh: Charlotte, McNally &amp; Loftin, 1964.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1055136">HD1527.C2 G3</a></strong></p>

<p>Chang, Grace. "Disposable Domestics: Immigrant Women Workers in the Global Economy."
<br/>Cambridge, Mass. : South End Press, 2000.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b2097797">HD6095 .C48 2000</a></strong></p>

<p>Herrera-Sobek, María . The Bracero Experience: Elitelore versus Folklore.
<br/>Los Angeles : UCLA Latin American Center Publications, University of California, 1979.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1205542">F1401 .C3 v.43</a></strong></p>

<p>Hancock, Richard Humphris. "The Role of the Bracero in the Economic and Cultural Dynamics of Mexico; a Case Study of Chihuahua."
<br/>Stanford, Calif., Hispanic American Society, 1959
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1035798">HD1525 .H16</a></strong></p>

<p>Gamboa, Erasmo.; Buan, Carolyn. "Nosotros: the Hispanic People of Oregon; Essays and Recollections."
<br/>Portland, Ore. : Oregon Council for the Humanities, 1995.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1861841">E184.S75 N6761 1995</a></strong></p>

<p>McBride, John G. "Vanishing Bracero; Valley Revolution."
<br/>San Antonio, Naylor, 1963.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1158291">HD1527.T4 M2</a></strong></p>

<p>Schmidt, Fred H. "After the bracero; an Inquiry into the Problem of Farm Labor Recruitment." With the research assistance of Patricia McFeely. A report submitted to the Dept. of Employment of the State of California by the Institute of Industrial Relations, University of California, Los Angeles.
<br/>Los Angeles: University of California, 1964.
<br/><strong>Valley Library: <a href="http://oasis.oregonstate.edu/record=b1088215">HD1527.C2 S35</a></strong></p>

<p>Gamboa, Erasmo. "Mexican labor &amp; World War II : braceros in the Pacific Northwest, 1942-1947."
<br/>Seattle: University of Washington Press, 2000.
<br/><strong>Request this item via <a href="http://summit.worldcat.org/oclc/42009426&referer=brief_results">Summit</a></strong>.</p>

<h5>VIDEOTAPES</h5>

<p>"The Oregon story: agricultural workers."
<br/>Portland, Or. : Oregon Public Broadcasting, c2001.
<br/><strong>Valley Circulation Video: <a href="http://oasis.oregonstate.edu/record=b2194032">HD1527.O7 O74 2001</a></strong></p>

</div>
