<div id="<%= params[:set] %>">

<h3>Technical Information</h3>

<p>The original photographs were scanned as either 600 or 800 dpi TIFF files on an Epson 1640XL scanner. Negatives were scanned whenever possible. Minor adjustments to the images were made with Adobe Photoshop version 7.0. The images were then uploaded into CONTENTdm as JPEG files to fit a 640 x 480 screen resolution. The Library of Congress' Thesaurus for Graphic Materials (TGM) was the basis for most of the subject terms used. Original caption information developed by the Extension Service was retained and used in the Description/ Notes field. Several University Libraries staff members participated in this project, including Mary Caughey, Richard Griffin, Debbie Hackleman, Faye Harkins, Larry Landis, Shannon Lowers, and Elizabeth Nielsen.</p>

</div>
