
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/006_6168.jpg", :alt => "Plumose sea anemone" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df6967913" %>
              <figcaption><%= link_to "Plumose sea anemone", "/sets/#{params[:set]}/oregondigital:df6967913" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/005_2021.jpg", :alt => "Opalescent nudibranch" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df694w563" %>
              <figcaption><%= link_to "Opalescent nudibranch", "/sets/#{params[:set]}/oregondigital:df694w563" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>The Oregon Institute of Marine Biology collection contains a variety of images of marine and terrestrial organisms including vascular plants, diatoms, invertebrates, birds, mammals and fishes. Also included are images of land and water use, OIMB history and research.</p>

    <h3>Acknowledgements</h3>

    <p>We would like to thank the following donors for contributing slides to this collection:</p>
    <ul>
      <li>Tom Fogartsch</li>
      <li>Chuck Holliday </li>
      <li>Larry Oglesby</li>
      <li>Bob Sommer</li>
      <li>Jan Hodder</li>
      <li>Mike Graybill</li>
      <li>Oscar W. Richards</li>
      <li>Jerry Rudy</li>
      <li>Fred Tepfer</li>
    </ul>

    <p>This collection was cataloged in 2001&#8211;2002 by OIMB MS student Jennifer Schmitt who was supported that year by the John Tonack Internship. Portions of the collection were digitized in 2011 through the support of Carol Shininger. Karen Estlund was responsible for the database design. Julia Simic provided advice on image quality. This collection would not exist without their help.</p>
