
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/PHO21_indian_madona.jpg", :alt => "" + ', ' + @set.title), '#' %>
              <figcaption><%= link_to "Woman and Baby", '#' %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Lee D. Drake (1882-1957) was a newspaper owner and civic booster in Pendleton and Astoria, Oregon. The collection includes Drake&rsquo;s amateur work and that of professional photographers from the Pendleton region, capturing images of the Pendleton Round-up, tribal peoples of the region, and Drake friends and family.</p>

    <p>Donated by James Robert Drake, son of the collector, in 1958.</p>
