<p><%= link_to (image_tag "sets/#{params[:set]}/ford.jpg", :alt => "Loggers on springboards wedging a tree, 1905"), "/sets/#{params[:set]}?q=&search_field=all_fields" %></p>

<p>The J.F. Ford Photographs consist of images of logging and landscapes in Oregon and Washington, primarily of the lower Columbia River region. The bulk of the images show loggers and logging operations including saws and machinery; logging railroads, donkey engines, and trestles; log ponds; logging camps; and a sawmill. The Ford Photographs also include several views of Cape Disappointment at the mouth of the Columbia River, Mt. Hood, Mt. Coffin, and the Columbia River.</p>

<p>John Fletcher Ford was a preacher and photographer who lived in Ilwaco, Washington from 1893 until his death in 1914. From 1900 to 1908, Ford operated a photography studio in Portland, Oregon. He was well known in logging camps in the lower Columbia River region and made many photographs of logging operations and fishing.</p>

<p>The J.F. Ford Photographs are held by the Oregon State University Special Collections and Archives Research Center. More information is available in the collection  <a href="http://scarc.library.oregonstate.edu/findingaids/index.php?p=collections/findingaid&id=2832">finding aid</a>.</p>
