<div id="<%= params[:set] %>">

  <h1>About</h1>

  <span class="description">

	<h3><a name="oregon" id="oregon"></a>The Oregon Music Collection</h3>

	<span class="pull-right"><%= link_to (image_tag "sets/#{params[:set]}/lillies.jpg", :alt => "Lillies of Willamette Valley front cover"), '/catalog/oregondigital:cr56n100q' %></span>



	<p>The Oregon Music Collection brings together 55 pieces of music about Oregon or by Oregonians, published between 1880 and 1921. These represent holdings in the <a href="http://libweb.uoregon.edu/speccoll/books/orc.html">Oregon Collection</a> of the University of Oregon's Special Collections &amp; University Archives and in the <a href="http://libweb.uoregon.edu/music/sheet.html">Historic Sheet Music Collection</a> in the Music Services Department. Many of the songs and pieces are about or dedicated to specific Oregon events and places, including student songs from the University of Oregon and the Oregon Agricultural College (now Oregon State), the Portland Rose Festival, the Pendleton Round Up, the 1905 Lewis and Clark Centennial Exhibition, Oregon regiments in the Spanish-American War, and the Willamette and Columbia rivers. There are also songs published as Sunday supplements to the <em>Portland Journal</em>, songs with various nostalgic and love themes by Oregon composers, and several versions of &ldquo;Oregon, My Oregon,&rdquo; the official song of the State of Oregon.</p>
	<p>&nbsp;</p>

	<!--
	<p><a href="http://oregondigital.org/cdm4/results.php?CISORESTMP=results.php&CISOVIEWTMP=item_viewer.php&CISOMODE=grid&CISOGRID=thumbnail,A,1;title,A,1;creato,A,0;lyrici,200,0;date,A,0;20;title,none,none,none,none&CISOBIB=title,A,1,N;captio,A,0,N;other,200,0,N;none,A,0,N;none,A,0,N;20;title,none,none,none,none&CISOTHUMB=20%20(4x5);title,none,none,none,none&CISOTITLE=20;title,none,none,none,none&CISOHIERA=20;captio,title,none,none,none&CISOSUPPRESS=1&CISOTYPE=link&CISOOP1=exact&CISOFIELD1=theme&CISOBOX1=Oregon+music&CISOOP2=exact&CISOFIELD2=captio&CISOBOX2=&CISOOP3=exact&CISOFIELD3=other&CISOBOX3=&CISOOP4=exact&CISOFIELD4=CISOSEARCHALL&CISOBOX4=&c=exact&CISOROOT=%2Fsheetmusic">Browse the Oregon Music Collection</a></p>
	-->

	<div class="clear"> </div>
    <hr />

	<h3><a name="women" id="women"></a>Women Composers Collection</h3>

	<span class="pull-right"><%= link_to (image_tag "sets/#{params[:set]}/festival.jpg", :alt => "Festival March front cover"), '/catalog/oregondigital:1v53jw986' %></span> 
	<p>The University of Oregon&rsquo;s Women Composers Collection of digitized music mirrors the collecting strengths of the Music Services Department&rsquo;s main collection and provides electronic access to the work of women composers who published their music before 1923, the public domain cut off for the United States.</p>
    <p>The initial collection contains music by Oregon&rsquo;s women composers and eventually will be joined by over 1,000 pieces of music by such noted composers as Amy Beach, Carrie Jacobs-Bond, Marion Bauer and Liza Lehmann, as well as local and regional women composers.</p>
    <p>A companion listing of music by women composers that is in the main music collection is available at <a href="http://libweb.uoregon.edu/music/Discographies/womencompscore/womscomain.html">http://libweb.uoregon.edu/music/Discographies/womencompscore/womscomain.html</a>. For information about either the digital collection or the main collection of music, contact the Music Services Department at 541-346-3079 or <a href="mailto:musicref@uoregon.edu">musicref@uoregon.edu</a>.</p>

	<!--
    <p><a href="/cdm4/results.php?CISORESTMP=results.php&amp;CISOVIEWTMP=item_viewer.php&amp;CISOMODE=grid&amp;CISOGRID=thumbnail,A,1;title,A,1;creato,A,0;lyrici,200,0;date,A,0;20;title,none,none,none,none&amp;CISOBIB=title,A,1,N;captio,A,0,N;other,200,0,N;none,A,0,N;none,A,0,N;20;title,none,none,none,none&amp;CISOTHUMB=20%20(4x5);title,none,none,none,none&amp;CISOTITLE=20;title,none,none,none,none&amp;CISOHIERA=20;captio,title,none,none,none&amp;CISOSUPPRESS=1&amp;CISOTYPE=link&amp;CISOOP1=exact&amp;CISOFIELD1=theme&amp;CISOBOX1=Women+composers&amp;CISOOP2=exact&amp;CISOFIELD2=captio&amp;CISOBOX2=&amp;CISOOP3=exact&amp;CISOFIELD3=other&amp;CISOBOX3=&amp;CISOOP4=exact&amp;CISOFIELD4=CISOSEARCHALL&amp;CISOBOX4=&amp;c=exact&amp;CISOROOT=%2Fsheetmusic">Browse the Women Composers Collection</a></p>
	-->

    <hr />
    <p>The University of Oregon Libraries present these items as part of the record of the past. These primary documents reflect the attitudes, perspectives, and beliefs of different times. The UO Libraries do not endorse the views expressed in these collections, which may contain materials offensive to some viewers.</p>
    <p>The images here are offered for research purposes. Individual prints may be requested by contacting the <a href="mailto:onp@uoregon.edu">Image Services Center</a> at 541-346-1946. </p>

  </span>

</div>
