<div id="<%= params[:set] %>">

  <span class="left-image span3"> <%= image_tag "sets/#{params[:set]}/freckle_face.jpg", :alt => @set.title %> </span>
  <span class="description span5">
    <p>
      The University of Oregon Libraries present here a selection of images from the collections of
      printed sheet music held by the <a href="http://libweb.uoregon.edu/music/">Music Services Department</a> and in the
      Oregon Collection of <a href="http://libweb.uoregon.edu/speccoll/">Special Collections &amp; University Archives</a>
      at the University of Oregon Libraries. <a href="?search_field=all_fields">Browse the entire collection.</a>
    </p>
    <p>
      The preliminary digitized music collections currently available are the
	  <a href="sets/#{params[:set]}/about#oregon">Oregon Music Collection</a>, focusing on music by Oregonians or about Oregon events and
	  places, and the <a href="sets/#{params[:set]}/about#women">Women Composers Collection</a>, showing the strength of the collection in
      music by women composers. These collections mirror the larger collections of the Music Services Department and
      provide a glimpse into the riches and possibilities of research available in the Historic Sheet Music Collection.
    </p>
  </span>

</div>
