<div id="<%= params[:set] %>">

  <h1>Related Resources</h1>

  <span class="description span8">

	<p>Access to the physical items represented here, as well as to thousands of additional titles held by Music Services, may be arranged with the <a href="http://libweb.uoregon.edu/music/">Music Services Department</a> or, for relevant items in the Oregon Music Collection, <a href="http://libweb.uoregon.edu/speccoll">Special Collections &amp; University Archives</a></p>

  </span>

</div>
