
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/schnitzer-nitrate1.jpg", :alt => "Graphic from a set of five progressive prints for 'Temple Gate'." + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df7128782" %>
              <figcaption><%= link_to "Temple Gate", "/sets/#{params[:set]}/oregondigital:df7128782" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/schnitzer-nitrate2.jpg", :alt => "American painting from the Murray Warner Collection of Oriental Art" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df7128536" %>
              <figcaption><%= link_to "The Window Seat", "/sets/#{params[:set]}/oregondigital:df7128536" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>This collection of historic negatives from the Gertrude Bass Warner Collection at the Jordan Schnitzer Museum of Art represents a significant portion of the museum’s early collection photo documentation. The majority of these images were taken between approximately 1933 and 1941, during a concerted survey of the collections. The photographs are, in some cases, the earliest record of the condition and display environment of the foundational works of the Murray Warner collection which focuses on Chinese, Japanese and Korean works although it also contains smaller numbers of objects from other Asian cultures. These images also include a few interesting additions from the 1950’s and 1960’s such as 20<sup>th</sup> century Canadian sculpture, German prints, and Austrian lithographs.</p>
     
    <p>This project was a collaborative effort between the Jordan Schnitzer Museum of Art (JSMA) and the University of Oregon Libraries. In 2014 the JSMA sought and received an National Endowment for the Humanities (NEH) Preservation Grant. The Grant funds helped to support the material and labor costs to inventory, digitize and rehouse the collections in cold storage. The negatives were rehoused in archival materials and now reside in the archival cold storage facility at the Knight Library.</p>
     
    <p>To request permission to publish or use these materials please contact the <a href="mailto:jsmith3@uoregon.edu">JSMA Rights and Reproductions staff</a>.</p>

