
    <!-- Description -->
    <div class="left-image span4">
      <div class="blueberry">
      <!-- Using jquery.blueberry.js and CSS within theme.css.scss -->
      <!-- Limit this to nine slides or less - 'cause 3 is the magic number! -->
      <!-- Put the tallest image first (if they vary in size) - it sets the size for the whole show and location of navigation -->
        <ul class="slides crop">
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/coll309_A9_P7_0010.jpg", :alt => "Pomegranate, WomanSpirit workers, 0010" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wd46b" %>
              <figcaption><%= link_to "Pomegranate, WomanSpirit workers, 0010", "/sets/#{params[:set]}/oregondigital:df66wd46b" %></figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <%= link_to (image_tag "sets/#{params[:set]}/Coll309_A16_P11_0022A.jpg", :alt => "OWL Farm Council Gathering" + ', ' + @set.title), "/sets/#{params[:set]}/oregondigital:df66wf059" %>
              <figcaption><%= link_to "OWL Farm Council Gathering", "/sets/#{params[:set]}/oregondigital:df66wf059" %></figcaption>
            </figure>
          </li>
        </ul>
      <!-- Optional -->
        <ul class="pager">
          <li><a href="#"><span></span></a></li>
          <li><a href="#"><span></span></a></li>
        </ul>
      <!-- /Optional -->
      </div>
    </div>

    <p>Ruth Mountaingrove (1923&#8211; ) is a photographer, writer and artist who moved to Oregon in 1971, settling in communes and eventually co-founding Rootworks, a lesbian land in Southern Oregon. Rootworks was home to the Ovular workshops, which Ruth and Tee Corinne, another prominent lesbian photographer, and others, led. The workshops, which ran for six years, were an opportunity for women to learn photography in the context of the Women's Movement, providing a means for the women to examine the differences between the way men pictured women and the way the women saw themselves. The feminist photography magazine, The Blatant Image, sprang from the Ovular workshops. The Ruth Mountaingrove collection consists of correspondence, diaries, ephemera, and photographs.</p>
